﻿<style>
	.MetodoPayme {
		margin-top: 10px;
		display: none;
	}

	.MetodoPaymeX {
		margin-top: 10px;
	}

	.alignet-modal {
		width: auto;
	}

	.disableForm {
		pointer-events: none;
	}

	.btnpayme {
		float: right;
		background-color: #ff0d0d;
		color: white;
	}
</style>

<script type="text/javascript" src="https://integracion.alignetsac.com/VPOS2/js/modalcomercio.js"></script>
<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<div class="breadcrumbs-fs fl-wrap">
			<div class="container">
				<div class="breadcrumbs fl-wrap"><a href="#">Inicio</a><a href="#">Pagina</a><span>Reservacíon</span></div>
			</div>
		</div>
		<section class="middle-padding gre y-blue-bg">
			<div class="container">
				<div class="list-main-wrap-title single-main-wrap-title fl-wrap">
					<h2>Reservar Desde : <span>Park Central</span></h2>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="bookiing-form-wrap">
							<ul id="progressbar">
								<li class="active"><span>01.</span>Información Personal</li>
								<li><span>02.</span>Facturación</li>
								<li><span>03.</span>Método de pago</li>
								<li><span>04.</span>Confirmación</li>
							</ul>
							<!--   list-single-main-item -->
							<div class="list-single-main-item fl-wrap hidden-section tr-sec">
								<div class="profile-edit-container">
									<div class="@ViewBag.ClassHabDisable">
										<form name="personalform" id="personalform">
											<fieldset class="fl-wrap book_mdf">
												<div class="list-single-main-item-title fl-wrap">
													<h3>Información Personal</h3>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<label>Nombre <i class="far fa-user"></i></label>
														<input type="text" placeholder="Nombre" value="" id="nombreIP" name="nombreIP" required />
													</div>
													<div class="col-sm-6">
														<label>Apellido <i class="far fa-user"></i></label>
														<input type="text" placeholder="Apellido" value="" id="apellidoIP" name="apellidoIP" required />

													</div>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<label>Correo Electrónico<i class="far fa-envelope"></i>  </label>
														<input type="email" placeholder="Correo@dominio.com" id="emailIP" name="emailIP" value="" required />
													</div>
													<div class="col-sm-6">
														<label>Teléfono<i class="far fa-phone"></i>  </label>
														<input type="text" placeholder="55554444" value="" id="TelefonoIP" name="TelefonoIP" required />
													</div>
												</div>

												<div class="filter-tags">
													<input id="checkTerminos" type="checkbox" name="checkTerminos">
													<label for="check-a">Al continuar, acepta las <a href="/Nosotros/PoliticasCancelacion" target="_blank">Políticas de cancelación.</a></label>
												</div>
												<span class="fw-separator"></span>
												<a href="#" class="next-form action-button btn no-shdow-btn color-bg" id="nextFactura">Facturación <i class="fal fa-angle-right"></i></a>
											</fieldset>
											<fieldset class="fl-wrap book_mdf">
												<div class="list-single-main-item-title fl-wrap">
													<h3>Facturacion</h3>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<label>Ciudad <i class="fal fa-globe-asia"></i></label>
														<input type="text" placeholder="Tu Ciudad" value="" id="ciudadFact" name="ciudadFact" />
													</div>
													<div class="col-sm-6">
														<label>País </label>
														<div class="listsearch-input-item ">
															<select data-placeholder="Your Country" class="chosen-select no-search-select">
																<option>Costa Rica</option>
																<option>Estados Unidos</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12">
														<label>Calle <i class="fal fa-road"></i> </label>
														<input type="text" placeholder="Tu Calle" value="" id="direccionFact" name="direccionFact" />
													</div>
												</div>
												<div class="row">
													<div class="col-sm-8">
														<label>Estado<i class="fal fa-street-view"></i></label>
														<input type="text" placeholder="Tu Estado" value="" id="estadoFact" name="estadoFact" />
													</div>
													<div class="col-sm-4">
														<label>Código Postal<i class="fal fa-barcode"></i> </label>
														<input type="text" placeholder="123456" value="" id="CodigoPFact" name="CodigoPFact" />
													</div>
												</div>
												<div class="list-single-main-item-title fl-wrap">
													<h3>Notas adicionales</h3>
												</div>
												<textarea cols="40" rows="3" placeholder="Notas" id="NotasAdicionales" name="NotasAdicionales"></textarea>
												<span class="fw-separator"></span>
												<a href="#" class="previous-form action-button back-form   color-bg" id="BtnAtrasPersonas"><i class="fal fa-angle-left"></i> Atras</a>
												<!--

												<a href="#" class="next-form back-form action-button btn no-shdow-btn color-bg" id="nextPagar">Pagar <i class="fal fa-angle-right"></i></a>

												-->
												<a href="#" class="next-form action-button btn no-shdow-btn color-bg" id="nextPagar">Pagar <i class="fal fa-angle-right"></i></a>


											</fieldset>
											<fieldset class="fl-wrap book_mdf">
												<div class="list-single-main-item-title fl-wrap">
													<h3>Método de pago</h3>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<label>Titular Tarjeta<i class="far fa-user"></i></label>
														<input type="text" placeholder="Nombre" id="TitularTarjeta" name="TitularTarjeta" />
													</div>
													<div class="col-sm-6">
														<label>Número de Tarjeta <i class="fal fa-credit-card-front"></i></label>
														<input type="text" placeholder="xxxx-xxxx-xxxx-xxxx" value="" id="creditCard" name="creditCard" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required minlength="19" data-msg-minlength="Número de tarjeta incompleto" />
													</div>
												</div>
												<div class="row">
													<div class="col-sm-3">
														<label>Mes Expiración <i class="fal fa-calendar"></i></label>
														<input type="text" placeholder="MM" value="" id="TarjetaMes" name="TarjetaMes" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" min="1" max="12" required />
													</div>
													<div class="col-sm-3">
														<label>Año Expiración<i class="fal fa-calendar"></i></label>
														<input type="text" placeholder="YY" value="" id="tarjetaAnio" name="tarjetaAnio" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" required min="@DateTime.Now.ToString("yy")" />
													</div>
													<div class="col-sm-2">
														<label>CVV / CVC *<i class="fal fa-credit-card"></i></label>
														<input type="password" placeholder="***" value="" id="tarjetaSeg" name="tarjetaSeg" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3" required minlength="3" />
													</div>
													<div class="col-sm-4">
														<p style="padding-top:20px;">*Número de tres dígitos en el reverso de su tarjeta</p>
													</div>
												</div>
												<div class="soc-log fl-wrap">
													<ul class="card-payment">
														<li><img src="~/images/payment/visa_c.png" height="25" /></li>
														<li><img src="~/images/payment/mc_c.png" height="25" /></li>
														<li><img src="~/images/payment/secure_c.png" height="25" /></li>
													</ul>
												</div>
												
												<span class="fw-separator"></span>
												<a href="#" class="previous-form  back-form action-button    color-bg" id="BtnAtrasFactura"><i class="fal fa-angle-left"></i> Atras</a>
												<a href="#" class="next-form  action-button btn color2-bg no-shdow-btn btn-pagar" id="btnNextConfirm">Confirmacion y Pago <i class="fal fa-angle-right"></i></a>
											</fieldset>
											<fieldset class="fl-wrap book_mdf">
												<div class="list-single-main-item-title fl-wrap">
													<h3>Confirmation</h3>
												</div>
												<div class="success-table-container">
													<div class="success-table-header fl-wrap">
														<i class="fal fa-check-circle decsth"></i>
														<h4>Gracias. Su reserva ha sido recibida.</h4>
														<div class="clearfix"></div>
														<p>Su pago ha sido procesado exitosamente</p>
														<!-- <a href="invoice.html" target="_blank" class="color-bg btn-factura">Ver la factura</a>  -->
													</div>
												</div>
												<span class="fw-separator"></span>
												<a href="#" class="previous-form action-button  back-form   color-bg"><i class="fal fa-angle-left"></i> Atras</a>
											</fieldset>
										</form>
										<div class="MetodoPayme">
											<form name="f1" id="f1" action="#" method="post" class="alignet-form-vpos2">
												<!--
													<form name="f1" id="f1" action="#" method="post" class="alignet-form-vpos2">
	<input type="button" id="BtnPayme" name="BtnPayme" value="Pagar Pay-me">
				<input type="button" onclick="javascript: AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Pagar Pay-me">		-->

												<input type="hidden" id="acquirerId" name="acquirerId" value="@ViewBag.acquirerId">
												<input type="hidden" id="idCommerce" name="idCommerce" value="@ViewBag.idCommerce">
												<input type="hidden" id="purchaseOperationNumber" name="purchaseOperationNumber" value="">
												<input type="hidden" id="purchaseAmount" name="purchaseAmount" value="">
												<input type="hidden" id="purchaseCurrencyCode" name="purchaseCurrencyCode" value="@ViewBag.purchaseCurrencyCode">
												<input type="hidden" id="language" name="language" value="@ViewBag.language">
												<input type="hidden" id="shippingFirstName" name="shippingFirstName" value="@ViewBag.shippingFirstName">
												<input type="hidden" id="shippingLastName" name="shippingLastName" value="@ViewBag.shippingLastName">
												<input type="hidden" id="shippingEmail" name="shippingEmail" value="@ViewBag.shippingEmail">
												<input type="hidden" id="shippingAddress" name="shippingAddress" value="@ViewBag.shippingAddress">
												<input type="hidden" id="shippingZIP" name="shippingZIP" value="@ViewBag.shippingZIP">
												<input type="hidden" id="shippingCity" name="shippingCity" value="@ViewBag.shippingCity">
												<input type="hidden" id="shippingState" name="shippingState" value="@ViewBag.shippingState">
												<input type="hidden" id="shippingCountry" name="shippingCountry" value="@ViewBag.shippingCountry">
												<input type="hidden" id="descriptionProducts" name="descriptionProducts" value="Reserva de Hotel">
												<input type="hidden" id="programmingLanguage" name="programmingLanguage" value="@ViewBag.programmingLanguage">
												<input type="hidden" id="purchaseVerification" name="purchaseVerification" value="">

												<input type="hidden" id="billingFirstName" name="billingFirstName">
												<input type="hidden" id="billingLastName" name="billingLastName">
												<input type="hidden" id="billingEmail" name="billingEmail">
												<input type="hidden" id="billingAddress" name="billingAddress">
												<input type="hidden" id="billingZip" name="billingZip">
												<input type="hidden" id="billingCity" name="billingCity">
												<input type="hidden" id="CodHotel" name="CodHotel" value="@ViewBag.CodHotel" />
												<input type="hidden" id="CodigoReserva" name="CodigoReserva" value="" />
												<input type="hidden" id="reserved2" name="reserved2" value="@ViewBag.CodHotel" /> <!-- Codidgo hotel -->
												<input type="hidden" id="reserved3" name="reserved3" value="" /><!-- Codidgo reserva -->

												<input type="hidden" id="reserved4" name="reserved4" value="@ViewBag.language" /> <!-- lang -->
												<input type="hidden" id="reserved5" name="reserved5" value="@ViewBag.programmingLanguage" /><!-- langprog -->
												<input type="hidden" id="reserved6" name="reserved6" value="" /><!-- billingZip -->

												<input type="hidden" id="reserved7" name="reserved7" value="" /><!-- CodTipoHab -->
												<input type="hidden" id="reserved8" name="reserved8" value="" /><!-- FechaReserva -->
												<input type="hidden" id="reserved9" name="reserved9" value="" /><!-- FechaLlegada -->
												<input type="hidden" id="reserved10" name="reserved10" value="" /><!-- FechaSalida -->
												<input type="hidden" id="reserved11" name="reserved11" value="" /><!-- NumNoches -->
												<input type="hidden" id="reserved12" name="reserved12" value="" /><!-- PrecioNoche -->
												<input type="hidden" id="reserved13" name="reserved13" value="" /><!-- Telefonos -->
												<input type="hidden" id="reserved14" name="reserved14" value="" /><!-- Comentarios -->
												<input type="hidden" id="reserved15" name="reserved15" value="" /><!-- Adultos -->
												<input type="hidden" id="reserved16" name="reserved16" value="" /><!-- Ninos -->
												<input type="hidden" id="reserved17" name="reserved17" value="" /><!-- MontoTotalReserva -->

												<input type="hidden" id="billingFirstName" name="billingFirstName">
												<input type="button" onclick="javascript: AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Comprar" id="BtnPayme" name="BtnPayme">

												<!--
				<input type="button" onclick="javascript: AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Comprar" id="BtnPayme" name="BtnPayme">



	<input type="button" id="BtnPayme" name="BtnPayme" value="Pagar Pay-me">
													https://www.facebook.com/

													<input type="button" onclick="javascript: AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Comprar" id="BtnPayme" name="BtnPayme">

													<input type="hidden" id="userCommerce" name="userCommerce" value="xxxxx">
												<input type="hidden" id="userCodePayme" name="userCodePayme" value="xxxxx">

											-->
											</form>
										</div>
									</div>
								</div>
							</div>
							<!--   list-single-main-item end -->
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-widget-item-header">
							<h3> Su Carrito</h3>
						</div>
						<!--cart-details  -->
						<div class="cart-details fl-wrap">
							<!--cart-details_header-->
							<div class="cart-details_header">
								<!-- <a href="#" class="widget-posts-img"><img src="~/images/ximgHome/3-3.jpg" class="respimg" alt=""></a> -->
								<a href="#" class="widget-posts-img"><img src="@ViewBag.Hotel.BannerFullPath" class="respimg" alt=""></a>
								<div class="widget-posts-descr">
									<a href="#" title="">@ViewBag.Hotel.Nombre</a>
									<div class="listing-rating card-popup-rainingvis" data-starrating2="@ViewBag.Hotel.Estrellas"></div>
									<div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>@ViewBag.Hotel.Direccion</a></div>
								</div>
							</div>
							<!--cart-details_header end-->
							<!--ccart-details_text-->
							<div class="cart-details_text">
								<ul class="cart_list">
									<li>Tipo Habitación <span>@ViewBag.Habitacion.NombreTipoHab <strong>@string.Format("{0:C}", ViewBag.Habitacion.Precio)</strong></span></li>
									<li>Del <span>@ViewBag.FechaInicio </span></li>
									<li>Al <span>@ViewBag.Fin</span></li>
									<li>Días<span>@ViewBag.DiasTotales </span></li>
									<li>Adultos <span>@ViewBag.Adultos</span></li>
									<li>Niños <span>@ViewBag.ninos</span></li>
								</ul>
							</div>
							<!--cart-details_text end -->
						</div>
						<!--cart-details end -->
						<!--cart-total -->
						<div class="cart-total">
							<span class="cart-total_item_title">Costo Total</span>
							<strong>@string.Format("{0:C}", ViewBag.TotalHabitacion)</strong>
						</div>
						<!--cart-total end -->
					</div>
				</div>
			</div>
		</section>
		<!-- section end -->
	</div>
	<!-- content end-->
</div>
<!--wrapper end -->

<input type="hidden" id="CodTipoHab" value="@ViewBag.CodTipoHab" />
<input type="hidden" id="FechaIniYMD" value="@ViewBag.FechaIniYMD" />
<input type="hidden" id="FechaFinYMD" value="@ViewBag.FechaFinYMD" />
<input type="hidden" id="DiasTotales" value="@ViewBag.DiasTotales" />
<input type="hidden" id="PrecioNocheHabitacion" value="@ViewBag.PrecioNocheHabitacion" />
<input type="hidden" id="TotalAdultos" value="@ViewBag.Adultos" />
<input type="hidden" id="TotalNinos" value="@ViewBag.ninos" />
<input type="hidden" id="TotalPago" value="@ViewBag.TotalHabitacion" />

<input type="hidden" id="hddnHabitacionDisponible" value="@ViewBag.HabitacionDisponible" />
<input type="hidden" id="TabActualReserva" value="Personal" />
<input type="hidden" id="validacionInfP" value="true" />
<input type="hidden" id="validacionInFact" value="true" />
<input type="hidden" id="validacionInPago" value="true" />
<input type="hidden" id="TipoBanco" name="TipoBanco" value="@ViewBag?.TipoBanco" />
<span style="display:none" id="RealizarReservaPrevia">False</span>

@section Scripts{
	<script src="~/lib/jquery-validation/dist/messages_es.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<script>

		//TabActualReserva
		//TabActual


		//Valido informacion personal antes de factura
		$("#nextFactura").click(function (e) {
			$("#validacionInfP").val(true);

			if ($("#checkTerminos").is(':checked') == false) {
				$("#validacionInfP").val(false);
				Swal.fire(
					'Costa Rica Chek In.! ',
					'Acepte terminos y condiciones',
					'warning'
				);
				return false;
			}

			if (!$('#personalform').valid()) {
				$("#validacionInfP").val(false);
				Swal.fire({
					icon: 'warning',
					text: 'Debe completar el formulario',
					customClass: {
						confirmButton: 'BtnMirarOpciones',
					}
				});
				return false;
			}

			$("#TabActualReserva").val("Factura");
			FacturacionRequerido()
		});

		$("#BtnAtrasPersonas").click(function () {
			FacturacionNoRequerido();
			$("#validacionInfP").val(true);
			$("#validacionInFact").val(true);
			$("#TabActualReserva").val("Personal");
		});


		//Valido informacion factura antes de pagar
		$("#nextPagar").click(function () {

			if (!$('#personalform').valid()) {
				$("#validacionInFact").val(false);
				Swal.fire({
					icon: 'warning',
					text: 'Debe completar el formulario',
					customClass: {
						confirmButton: 'BtnMirarOpciones',
					}
				});
				return false;
			}

			$("#billingFirstName").val($("#nombreIP").val());
			$("#billingLastName").val($("#apellidoIP").val());
			$("#billingEmail").val($("#emailIP").val());
			$("#billingAddress").val($("#direccionFact").val());
			$("#billingZip").val($("#CodigoPFact").val());
			$("#reserved6").val($("#CodigoPFact").val());
			$("#billingCity").val($("#ciudadFact").val());

			$("#reserved7").val($("#CodTipoHab").val());
			$("#reserved8").val($("#FechaIniYMD").val());
			$("#reserved9").val($("#FechaIniYMD").val());
			$("#reserved10").val($("#FechaFinYMD").val());
			$("#reserved11").val($("#DiasTotales").val());
			$("#reserved12").val($("#PrecioNocheHabitacion").val());
			$("#reserved13").val($("#TelefonoIP").val());
			$("#reserved14").val($("#NotasAdicionales").val());
			$("#reserved15").val($("#TotalAdultos").val());
			$("#reserved16").val($("#TotalNinos").val());
			$("#reserved17").val($("#TotalPago").val());

			$("#validacionInFact").val(true);
			$("#TabActualReserva").val("Pago");
			PagoRequerido();
		});



		$("#BtnAtrasFactura").click(function () {
			PagoNoRequerido();
		});


		//Valido informacion Pago antes de confirmar
		$("#btnNextConfirm").click(function () {

			if (!$('#personalform').valid()) {
				$("#validacionInPago").val(false);
				Swal.fire({
					icon: 'warning',
					text: 'Debe completar el formulario',
					customClass: {
						confirmButton: 'BtnMirarOpciones',
					}
				});
				return false;
			}


			//Verificamos la expiración de la tarjeta
			let now = new Date();
			now.setHours(0, 0, 0, 0);
			console.log($('#tarjetaAnio').val());
			console.log($('#TarjetaMes').val());

			let dateCard = new Date(parseInt('20' + $('#tarjetaAnio').val()), parseInt($('#TarjetaMes').val()), 0);
			console.log(dateCard);
			if (now > dateCard) {
				$("#validacionInPago").val(false);
				Swal.fire({
					icon: 'error',
					title: 'Tarjeta vencida',
					text: 'Por favor verifique la fecha de vencimiento',
					customClass: {
						confirmButton: 'BtnMirarOpciones',
					}
				});
				return false;
			}

			$("#validacionInPago").val(true);
			$("#TabActualReserva").val("Confirmacion");
			//PagoRequerido();
		});


		function FacturacionRequerido() {
			$("#ciudadFact").prop('required', true);
			$("#direccionFact").prop('required', true);
			$("#estadoFact").prop('required', true);

			console.log("asdxxxf");
		}

		function FacturacionNoRequerido() {
			$("#ciudadFact").prop('required', false);
			$("#direccionFact").prop('required', false);
			$("#estadoFact").prop('required', false);
		}


		function PagoRequerido() {
			$("#TitularTarjeta").prop('required', true);
		}

		function PagoNoRequerido() {
			$("#TitularTarjeta").prop('required', false);
		}

		$('#creditCard').on('keyup', function (e) {
			var val = $(this).val();
			var newval = '';
			val = val.replace(/\s/g, '');
			for (var i = 0; i < val.length; i++) {
				if (i % 4 == 0 && i > 0) newval = newval.concat(' ');
				newval = newval.concat(val[i]);
			}
			$(this).val(newval);
		})

		$("#btnPaymeFake").click(function () {

			$("#BtnPayme").click();
		});


		//Reserva previa
		$("body").on('DOMSubtreeModified', "#RealizarReservaPrevia", function () {
			texto = $("#RealizarReservaPrevia").html();
			if (texto == "True") {
				RealizarReservaPrevia();
			}
		});


		function RealizarReservaPrevia() {


			var dataEnviar = {
				CodHotel: $("#CodHotel").val(),
				CodTipoHab: $("#CodTipoHab").val(),
				FechaReserva: $("#FechaIniYMD").val(),
				FechaLlegada: $("#FechaIniYMD").val(),
				FechaSalida: $("#FechaFinYMD").val(),
				NumNoches: $("#DiasTotales").val(),
				PrecioNoche: $("#PrecioNocheHabitacion").val(),

				Nombres: $("#nombreIP").val(),
				Apellidos: $("#apellidoIP").val(),
				Telefonos: $("#TelefonoIP").val(),
				NumIdentificacion: "",
				CodPais: "CR", // REvsiar -------------
				CodCiudad: "",
				Email: $("#emailIP").val(),
				Empresa: $("").val(),
				Comentarios: $("#NotasAdicionales").val(),
				Adultos: $("#TotalAdultos").val(),
				Ninos: $("#TotalNinos").val(),
				MontoTotalReserva: $("#TotalPago").val(),
				MontoPagado: 0,
				PagoTarjeta: 0
			};

			console.log(dataEnviar);

			$.ajax({
				type: "POST",
				url: "/Reservacion/SolicitarReservacion",
				data: dataEnviar,
				success: function (data) {
					console.log(data);
					swal.close();
					if (data.IsSuccess == true) {
						//ReservaVerificacion = false;
						//ReservaDisponible = true;
						$("#RealizarReservaPrevia").html("False")
						console.log("ok");
						//$("#grand_total").val(data.TotalHabitacion);
						//$("#spnReservar").html("Reserva");
						$("#purchaseAmount").val(data.purchaseAmount);
						$("#purchaseOperationNumber").val(data.purchaseOperationNumber);
						$("#purchaseVerification").val(data.purchaseVerification);
						$("#CodigoReserva").val(data.CodigoReserva);
						$("#reserved3").val(data.CodigoReserva);

						if ($("#TipoBanco").val() == "1") {
							$("#BtnPayme").click();
						}
						else {
							$("#nextPagar").click();
						}

					} else {						
						Swal.fire(
							'Costa Rica Chek In.! ',
							'No se pudo crear al reservación previa',
							'warning'
						);
					}
				},
				beforeSend: function () {
					Swal.fire({
						allowOutsideClick: false,
						showConfirmButton: false,
						showClass: {
							popup: 'animated fadeIn faster'
						},
						customClass: {
							container: 'sweetLoadingcontent'
						},
						html: "<div class='animacionJson'><lottie-player src='/js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>" +
							"</lottie-player></div>"
					});
				},
				error: function () {
					swal.close();
					Swal.fire('¡Error!', 'Error', 'error');
				},
			}).done(function () {
				/*
				$.holdReady(true);
				$.getScript("/js/lib/slick/slick.js", function () {
					$.holdReady(false);
				}); */

			});


		}


		$(document).ready(function () {
			if ($("#hddnHabitacionDisponible").val() != "True") {
				setTimeout(function () {
					Swal.fire(
						'Costa Rica Chek In.! ',
						'Habitacion no disponible',
						'warning'
					);

				}, 2000);
			}
		});
	</script>
}