﻿<style>


	.errorPago {
		color: red !important;
	}

	.divPayme {
		max-width: 500px;
		margin: auto;
	}

	.btnpaymeFK {
		color: #1B535C !important;
		width: 100% !important;
		background: #F4F2BB !important;
		padding: 15px 0 !important;
		border-radius: 4px !important;
	}

	.alignet-modal {
		width: auto;
	}

	.formhidden {
		display: none;
	}
</style>

<script type="text/javascript" src="https://integracion.alignetsac.com/VPOS2/js/modalcomercio.js"></script>
<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="parallax-section single-par" data-scrollax-parent="true">
			<div class="bg par-elem " data-bg="/images/xImg/FotoFAQS.png" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="overlay"></div>
			<div class="container">
				<div class="section-title center-align big-title">
					<div class="section-title-separator"><span></span></div>
					<h2><span>Respuesta de pago</span></h2>
					<span class="section-separator"></span>
					<h4>Respuesta de pago</h4>
				</div>
			</div>
			<div class="header-sec-link">
				<div class="container"><a href="#sec1" class="custom-scroll-link color-bg btnDownFaq"><i class="fal fa-angle-double-down"></i></a></div>
			</div>
		</section>
		<!--  section  end-->
		<!--section -->
		<section>

			<div class="container">
				<!--   list-single-main-item -->
				<div class="list-single-main-item fl-wrap hidden-section tr-sec">
					<div class="profile-edit-container">
						<div class="custom-form">

							<fieldset class="fl-wrap book_mdf">
								<div class="list-single-main-item-title fl-wrap">
									<h3>Confirmation</h3>
								</div>
								<div class="success-table-container">
									<div class="success-table-header fl-wrap">
										<i class="@ViewBag.iconResponse"></i>
										<h4>@ViewBag.TituloRespuesta</h4>
										<div class="clearfix"></div>
										<p>@ViewBag.CuerpoRespuesta</p>
									</div>
								</div>
								<span class="fw-separator"></span>
								@if (ViewBag.VolverPagar == true)
								{
									<div class="divPayme">
										<input type="button" value="Reintentar Pago" id="btnPaymeFake" name="btnPaymeFake" class="btnpaymeFK">
										<div class="formhidden">
											<form name="f1" id="f1" action="#" method="post" class="alignet-form-vpos2">
												<input type="hidden" id="acquirerId" name="acquirerId" value="@ViewBag.HttpAcquirerId">
												<input type="hidden" id="idCommerce" name="idCommerce" value="@ViewBag.HttpIcommerce">
												<input type="hidden" id="purchaseOperationNumber" name="purchaseOperationNumber" value="@ViewBag.HttpPurchaseOperationNumber">
												<input type="hidden" id="purchaseAmount" name="purchaseAmount" value="@ViewBag.HttpPurchaseAmount">
												<input type="hidden" id="purchaseCurrencyCode" name="purchaseCurrencyCode" value="@ViewBag.HttppurchaseCurrencyCode">
												<input type="hidden" id="language" name="language" value="@ViewBag.language">
												<input type="hidden" id="shippingFirstName" name="shippingFirstName" value="@ViewBag.shippingFirstName">
												<input type="hidden" id="shippingLastName" name="shippingLastName" value="@ViewBag.shippingLastName">
												<input type="hidden" id="shippingEmail" name="shippingEmail" value="@ViewBag.shippingEmail">
												<input type="hidden" id="shippingAddress" name="shippingAddress" value="@ViewBag.shippingAddress">
												<input type="hidden" id="shippingZIP" name="shippingZIP" value="@ViewBag.shippingZIP">
												<input type="hidden" id="shippingCity" name="shippingCity" value="@ViewBag.shippingCity">
												<input type="hidden" id="shippingState" name="shippingState" value="@ViewBag.shippingState">
												<input type="hidden" id="shippingCountry" name="shippingCountry" value="@ViewBag.shippingCountry">
												<input type="hidden" id="descriptionProducts" name="descriptionProducts" value="@ViewBag.descriptionProducts">
												<input type="hidden" id="programmingLanguage" name="programmingLanguage" value="@ViewBag.programmingLanguage">
												<input type="hidden" id="purchaseVerification" name="purchaseVerification" value="@ViewBag.purchaseVerificationPayMe">
												<input type="hidden" id="billingFirstName" name="billingFirstName" value="@ViewBag.billingFirstName">
												<input type="hidden" id="billingLastName" name="billingLastName" value="@ViewBag.billingLastName">
												<input type="hidden" id="billingEmail" name="billingEmail" value="@ViewBag.billingEmail">
												<input type="hidden" id="billingAddress" name="billingAddress" value="@ViewBag.billingAddress">
												<input type="hidden" id="billingZip" name="billingZip" value="@ViewBag.billingZip">
												<input type="hidden" id="billingCity" name="billingCity" value="@ViewBag.billingCity">
												<input type="hidden" id="reserved2" name="reserved2" value="@ViewBag.CodHotel" /> <!-- Codidgo hotel -->
												<input type="hidden" id="reserved3" name="reserved3" value="@ViewBag.CodReserva" /><!-- Codidgo reserva -->

												<input type="hidden" id="reserved4" name="reserved4" value="@ViewBag.language" /> <!-- lang -->
												<input type="hidden" id="reserved5" name="reserved5" value="@ViewBag.programmingLanguage" /><!-- langprog -->
												<input type="hidden" id="reserved6" name="reserved6" value="@ViewBag.billingZip" /><!-- billingZip -->

												<input type="hidden" id="reserved7" name="reserved7" value="@ViewBag.CodTipoHab" /><!-- CodTipoHab -->
												<input type="hidden" id="reserved8" name="reserved8" value="@ViewBag.FechaReserva" /><!-- FechaReserva -->
												<input type="hidden" id="reserved9" name="reserved9" value="@ViewBag.FechaLlegada" /><!-- FechaLlegada -->
												<input type="hidden" id="reserved10" name="reserved10" value="@ViewBag.FechaSalida" /><!-- FechaSalida -->
												<input type="hidden" id="reserved11" name="reserved11" value="@ViewBag.NumNoches" /><!-- NumNoches -->
												<input type="hidden" id="reserved12" name="reserved12" value="@ViewBag.PrecioNoche" /><!-- PrecioNoche -->
												<input type="hidden" id="reserved13" name="reserved13" value="@ViewBag.Telefonos" /><!-- Telefonos -->
												<input type="hidden" id="reserved14" name="reserved14" value="@ViewBag.Comentarios" /><!-- Comentarios -->
												<input type="hidden" id="reserved15" name="reserved15" value="@ViewBag.Adultos" /><!-- Adultos -->
												<input type="hidden" id="reserved16" name="reserved16" value="@ViewBag.Ninos" /><!-- Ninos -->
												<input type="hidden" id="reserved17" name="reserved17" value="@ViewBag.MontoTotalReserva" /><!-- MontoTotalReserva -->

												<input type="button" onclick="javascript: AlignetVPOS2.openModal('https://integracion.alignetsac.com/')" value="Reintentar Pago" id="BtnPayme" name="BtnPayme" class="btnpayme">
											</form>

										</div>
									</div>
								}
							</fieldset>
						</div>
					</div>
				</div>
				<!--   list-single-main-item end -->
			</div>
		</section>
		<!-- section end -->

	</div>
	<!-- content end-->
</div>
<!--wrapper end -->

@section Scripts{
	<script src="~/lib/jquery-validation/dist/messages_es.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<script>
		$("#btnPaymeFake").click(function () {
			RealizarReservaPrevia();
		});


		function RealizarReservaPrevia() {


			var dataEnviar = {
				CodHotel: $("#reserved2").val(),
				CodTipoHab: $("#reserved7").val(),
				FechaReserva: $("#reserved8").val(),
				FechaLlegada: $("#reserved9").val(),
				FechaSalida: $("#reserved10").val(),
				NumNoches: $("#reserved11").val(),
				PrecioNoche: $("#reserved12").val(),

				Nombres: $("#billingFirstName").val(),
				Apellidos: $("#billingLastName").val(),
				Telefonos: $("#reserved13").val(),
				NumIdentificacion: "",
				CodPais: "CR", // REvsiar -------------
				CodCiudad: "",
				Email: $("#billingEmail").val(),
				Empresa: "",
				Comentarios: $("#reserved14").val(),
				Adultos: $("#reserved15").val(),
				Ninos: $("#reserved16").val(),
				MontoTotalReserva: $("#reserved17").val(),
				MontoPagado: 0,
				PagoTarjeta: 0,
				CodReserva: $("#reserved3").val()
			};

			console.log(dataEnviar);

			$.ajax({
				type: "POST",
				url: "/Reservacion/SolicitarReservacion",
				data: dataEnviar,
				success: function (data) {
					console.log(data);
					swal.close();
					if (data.IsSuccess == true) {					 
						$("#purchaseAmount").val(data.purchaseAmount);
						$("#purchaseOperationNumber").val(data.purchaseOperationNumber);
						$("#purchaseVerification").val(data.purchaseVerification);
						$("#CodigoReserva").val(data.CodigoReserva);
						$("#reserved3").val(data.CodigoReserva);
						$("#BtnPayme").click();						

					} else {
						Swal.fire(
							'Costa Rica Chek In.! ',
							'No se pudo crear al reservación previa',
							'warning'
						);
					}
				},
				beforeSend: function () {
					Swal.fire({
						allowOutsideClick: false,
						showConfirmButton: false,
						showClass: {
							popup: 'animated fadeIn faster'
						},
						customClass: {
							container: 'sweetLoadingcontent'
						},
						html: "<div class='animacionJson'><lottie-player src='/js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>" +
							"</lottie-player></div>"
					});
				},
				error: function () {
					swal.close();
					Swal.fire('¡Error!', 'Error', 'error');
				},
			}).done(function () {
				/*
				$.holdReady(true);
				$.getScript("/js/lib/slick/slick.js", function () {
					$.holdReady(false);
				}); */

			});
		}
	 
	</script>
}