﻿
@{
    Layout = null;
}

<!--ajax-modal-wrap -->
<div class="ajax-modal-wrap fl-wrap" style="opacity:1;">
    <div class="ajax-modal-close"><i class="fal fa-times"></i></div>
    <!--ajax-modal-item-->
    <div class="ajax-modal-item fl-wrap">
        <div class="ajax-modal-media fl-wrap">
            <img src="@ViewBag.FotoHeader" alt="">
            <div class="ajax-modal-title">
                <div class="section-title-separator"><span></span></div>
                @ViewBag.Habitacion.NombreTipoHab
            </div>
            <div class="ajax-modal-photos-btn dynamic-gal" data-dynamicPath="[@ViewBag.FotosCadena]">Fotos (<span>@ViewBag.TotalFotos</span>)</div>
        </div>
        <div class="ajax-modal-list fl-wrap">
            <ul>
                <li>
                    <i class="fal fa-user-alt"></i>
                    <h5><span>2</span> Personas</h5>
                </li>
                <li>
                    <i class="fal fa-chalkboard"></i>
                    <h5><span>102</span> Ft²</h5>
                </li>
                <li>
                    <i class="fal fa-bath"></i>
                    <h5><span>2</span> Baños</h5>
                </li>
                <li>
                    <i class="fal fa-hand-holding-usd"></i>
                    <h5><span> @string.Format("{0:C}", @ViewBag.Habitacion.Precio) </span> / Noche</h5>
                </li>
            </ul>
        </div>
        <div class="ajax-modal-details fl-wrap">
            <!--ajax-modal-details-box-->
            <div class="ajax-modal-details-box">
                <h3>Detalle</h3>
                <p>@ViewBag.Habitacion.DescripcionDetallada</p>                
            </div>
            <!--ajax-modal-details-box end-->
            <!--ajax-modal-details-box-->
            <div class="ajax-modal-details-box">
                <h3>Amenidades</h3>
                <div class="listing-features fl-wrap">
                    <ul>
                        @foreach (var amenida in ViewBag.Habitacion.Amenidades)
                        {
                            <li><i><img src="~/images/flecha.png" width="20" /></i> @amenida.NomAmenidad</li>

                        }
                    </ul>
                </div>
            </div>
            <!--ajax-modal-details-box end-->
            <a  href="javascript:;" id="ReservarHab" class="btn float-btn color2-bg"> Reservar Ahora <i class="fas fa-caret-right"></i></a>
        </div>
    </div>    
    <!--ajax-modal-item-->
</div>
<!--ajax-modal-wrap end -->
 
<script>
    $("#ReservarHab").click(function () {        
		$(".ajax-modal-close").click();
        sessionStorage.setItem('reservarAhoraST', 1);
	});
</script>