﻿ <!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!-- Map -->
		<!-- <div class="map-container column-map right-pos-map fix-map hid-mob-map"> -->
		<div class="map-container column-map right-pos-map fix-map hid-mob-map" id="mapaContendor">
			<div id="map-main"></div>
			<ul class="mapnavigation">
				<li><a href="#" class="prevmap-nav"><i class="fas fa-caret-left"></i> Prev</a></li>
				<li><a href="#" class="nextmap-nav">Next <i class="fas fa-caret-right"></i></a></li>
			</ul>
			<div class="map-close"><i class="fas fa-times"></i></div>
			<input id="pac-input" name="pacint" class="controls fl-wrap controls-mapwn" type="text" placeholder="¿Qué hay cerca?">
		</div>

		<!-- Map end -->
		<!--col-list-wrap -->
		<div class="col-list-wrap left-list">
			<div class="mobile-list-controls fl-wrap">
				<div class="container">
					<div class="mlc show-hidden-column-map schm"><i class="fal fa-map-marked-alt"></i> Show Map</div>
					<div class="mlc show-list-wrap-search"><i class="fal fa-filter"></i> Filter</div>
				</div>
			</div>
			<!--list-wrap-search   -->
			<div class="list-wrap-search fl-wrap lws_mobile" id="lisfw">
				<div class="container">
					<div class="row">
						<!-- col-list-search-input-item -->
						<div class="col-md-4">
							<div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow divProvincias ">
								<label>PROVINCIAS/COSTA RICA</label>
								<div class="listsearch-input-item">
									<select data-placeholder="City" class="chosen-select" id="provinciasSelect">
										<option>Todas las provincias</option>
										<option value="San Jose">San Jose</option>
										<option value="Alajuela">Alajuela</option>
										<option value="Cartago">Cartago</option>
										<option value="Heredia">Heredia</option>
										<option value="Puntarenas">Puntarenas</option>
										<option value="Guanacaste">Guanacaste</option>
										<option value="Limon">Limón</option>
									</select>
								</div>
							</div>
						</div>
						<!-- col-list-search-input-item end -->
						<!-- col-list-search-input-item -->
						<div class="col-md-4">
							<div class="col-list-search-input-item fl-wrap location autocomplete-container">
								<label>Destino</label>
								<span class="header-search-input-item-icon"><i class="fal fa-map-marker-alt"></i></span>
								<input type="text" placeholder="Destino o nombre del Hotel" class="autocomplete-input" id="autocompleteid3" value="@ViewBag.Destino" />
								<a href="#"><i class="fal fa-dot-circle"></i></a>
							</div>
						</div>
						<!-- col-list-search-input-item end -->
						<!-- col-list-search-input-item -->
						<div class="col-md-4">
							<div class="col-list-search-input-item in-loc-dec date-container  fl-wrap">
								<label>Fecha Entrada-Salida </label>
								<span class="header-search-input-item-icon"><i class="fal fa-calendar-check"></i></span>
								<input type="text" placeholder="Desde" name="dates" value="" id="dates" autocomplete="off" />
							</div>
						</div>
						<!-- col-list-search-input-item end -->
					</div>
					<div class="search-opt-wrap fl-wrap">
						<div class="search-opt-wrap-container">
							<!-- col-list-search-input-item -->
							<div class="search-input-item midd-input">
								<div class="col-list-search-input-item fl-wrap">
									<div class="quantity-item">
										<label>Habitaciones</label>
										<div class="quantity">
											<input type="number" min="1" max="3" step="1" value="@ViewBag.habitaciones" id="cantidadHabitaciones">
										</div>
									</div>
									<div class="quantity-item">
										<label>Adultos</label>
										<div class="quantity">
											<input type="number" min="1" max="5" step="1" value="@ViewBag.adultos" id="cantidadAdultos">
										</div>
									</div>
									<div class="quantity-item">
										<label>Niños    </label>
										<div class="quantity">
											<input type="number" min="0" max="3" step="1" value="@ViewBag.ninos" id="cantidadNinos">
										</div>
									</div>
								</div>
							</div>
							<!-- col-list-search-input-item end -->
							<!-- col-list-search-input-item -->
							<div class="search-input-item">
								<div class="range-slider-title">Rango de precios</div>
								<div class="range-slider-wrap fl-wrap">
									<input class="range-slider" data-from="10" data-to="2000" data-step="10" data-min="10" data-max="2000" data-prefix="$">
								</div>
							</div>
							<!-- col-list-search-input-item end -->
							<!-- col-list-search-input-item -->
							<div class="search-input-item small-input ">
								<div class="col-list-search-input-item fl-wrap">
									<button class="header-search-button"  id="btnBuscarFiltros">Buscar <i class="far fa-search"></i></button>
								</div>
							</div>
							<!-- col-list-search-input-item end -->
							<!-- hidden-listing-filter -->
							<div class="hidden-listing-filter fl-wrap">
								<div class="row">
									<div class="col-md-4">
										<!--col-list-search-input-item -->
										<div class="col-list-search-input-item fl-wrap">
											<h4>Estrellas</h4>
											<div class="search-opt-container fl-wrap">
												<!-- Checkboxes -->
												<ul class="fl-wrap filter-tags">
													<li class="five-star-rating">
														<input id="check-aa2" type="checkbox" name="check" checked>
														<label for="check-aa2"><span class="listing-rating card-popup-rainingvis" data-starrating2="5"><span>5 Estrellas</span></span></label>
													</li>
													<li class="four-star-rating">
														<input id="check-aa3" type="checkbox" name="check" checked>
														<label for="check-aa3"><span class="listing-rating card-popup-rainingvis" data-starrating2="5"><span>4 Estrellas</span></span></label>
													</li>
													<li class="three-star-rating">
														<input id="check-aa4" type="checkbox" name="check" checked>
														<label for="check-aa4"><span class="listing-rating card-popup-rainingvis" data-starrating2="5"><span>3 Estrellas</span></span></label>
													</li>
												</ul>
												<!-- Checkboxes end -->
											</div>
										</div>
										<!--col-list-search-input-item end-->
									</div>
									<div class="col-md-8">
										<!--col-list-search-input-item -->
										<div class="col-list-search-input-item fl-wrap">
											<h4>Servicios</h4>
											<div class="search-opt-container fl-wrap">
												<!-- Checkboxes -->
												<ul class="fl-wrap filter-tags half-tags">
													<li>
														<input id="check-aaa5" type="checkbox" name="check">
														<label for="check-aaa5">Aire Acondicionado</label>
													</li>
													<li>
														<input id="check-bb5" type="checkbox" name="check">
														<label for="check-bb5">Desayuno incluido</label>
													</li>
													<li>
														<input id="check-dd5" type="checkbox" name="check">
														<label for="check-dd5">Piscina</label>
													</li>
												</ul>
												<!-- Checkboxes end -->
												<!-- Checkboxes -->
												<ul class="fl-wrap filter-tags half-tags">
													<li>
														<input id="check-cc5" type="checkbox" name="check">
														<label for="check-cc5">Wifi</label>
													</li>
													<li>
														<input id="check-ff5" type="checkbox" name="check">
														<label for="check-ff5">Parqueo</label>
													</li>
													<li>
														<input id="check-c4" type="checkbox" name="check">
														<label for="check-c4">Cambio de divisas</label>
													</li>
												</ul>
												<!-- Checkboxes end -->
											</div>
										</div>
										<!--col-list-search-input-item end-->
									</div>
								</div>
							</div>
							<!-- hidden-listing-filter end -->
						</div>
						<div class="show-more-filters act-hiddenpanel btn-filtro"><i class="fal fa-plus"></i><span>Filtros</span></div>
					</div>
				</div>
			</div>
			<!--list-wrap-search end -->
			<!-- list-main-wrap-->
			<div class="list-main-wrap fl-wrap card-listing">
				<a class="custom-scroll-link back-to-filters" href="#lisfw"><i class="fas fa-angle-up"></i><span>Back to Filters</span></a>
				<div class="container">
					<!-- list-main-wrap-title-->
					<div class="list-main-wrap-title fl-wrap">
						<h2>Resultados para : <span id="textoBusquedaCiudad">New York </span></h2>
					</div>
					<!-- list-main-wrap-title end-->
					<!-- list-main-wrap-opt-->
					<div class="list-main-wrap-opt fl-wrap">
						<!-- price-opt-->
						<div class="price-opt">
							<span class="price-opt-title">Ordenar Resultados por:</span>
							<div class="listsearch-input-item">
								<select data-placeholder="Popularity" class="chosen-select no-search-select" id="OrdenBusqueda">
									<option value="0">Popularidad</option>
									<option value="1">Puntuación media</option>
									<option value="2">Precio: de más bajo a más alto</option>
									<option value="3">Precio: de más alto a más bajo</option>
								</select>
							</div>
						</div>
						<!-- price-opt end-->
						<!-- price-opt-->
						<div class="grid-opt">
							<ul>
								<li><span class="two-col-grid act-grid-opt"><i class="fas fa-th-large"></i></span></li>
								<li><span class="one-col-grid"><i class="fas fa-bars"></i></span></li>
							</ul>
						</div>
						<!-- price-opt end-->
					</div>
					<!-- list-main-wrap-opt end-->
					<!-- listing-item-container  contenedor de card de hoteles -->
					<div class="listing-item-container init-grid-items fl-wrap" id="divHoteles">
					</div>
					<!-- listing-item-container end-->
					<!-- pagination-->
					<div class="pagination" id="pagination">		 
					</div>
					<!-- pagination end-->
				</div>
			</div>
			<!-- list-main-wrap end-->
		</div>
		<!--col-list-wrap end -->
		<div class="limit-box fl-wrap"></div>
		<section class="section-publicidad">
			<div class="container">
				<img src="/images/xImg/bannercclg.png" />
			</div>
		</section>
	</div>
	<!-- content end-->
</div>
<!--wrapper end -->
<input type="hidden" id="FechaBusquedaInicial" value="@ViewBag.fechasBusquedaInicial"/>
<input type="hidden" id="FechaBusquedaIniMostrar" value="@ViewBag.fechasBusquedaIniMostrar"/>
<input type="hidden" id="provinciaInicio" value="@ViewBag.Provincia"/>

<div style="display:none" id="DataMapaPines">	
</div>

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script>
	window.onload = function () {
		$(".date-container #dates").val("");
		var fechaBusquedainicial = $("#FechaBusquedaInicial").val();
		if (fechaBusquedainicial != "") {
			$(".date-container .drp-selected").html(fechaBusquedainicial);
			$(".date-container #dates").val($("#FechaBusquedaIniMostrar").val());
		}
			
		$(".divProvincias .current").html($("#provinciaInicio").val());

		BuscarHoteles(1);
	};

	var mivariablex = "Rafael";
	var GlobalNumMap = 0;
	var HotelPorPag = 4;
	var DataHoteles;


	function VerHotel(idHotel) {
		console.log("----");
		var fechas = $(".date-container .drp-selected").html();
		if (fechas != "") {
			var cantidadHabitaciones = $("#cantidadHabitaciones").val();
			var totalAdultos = $("#cantidadAdultos").val();
			var totalNinos = $("#cantidadNinos").val();
			var fechasSplit = fechas.split("-");
			var fechaInicio = $.trim(fechasSplit[0]);
			var fechaFin = $.trim(fechasSplit[1])
			window.location.href = "/Hoteles/single?id=" + idHotel + "&totalRooms=" + cantidadHabitaciones + "&totalAdult=" + totalAdultos + "&totalChild=" + totalNinos + "&fechaInicio=" + fechaInicio + "&fechaFin=" + fechaFin;
		}
		else {
			window.location.href = "/Hoteles/single?id=" + idHotel;
		}
	}

	$("#btnBuscarFiltros").click(function () {
		var fechas = $(".date-container .drp-selected").html();
		if (fechas == "") {
			Swal.fire(
				'Costa Rica Chek In.! ',
				'Seleccione un rango de fechas',
				'warning'
			);
			return false;
		}

		BuscarHoteles(1);


	});

	function BuscarHoteles(NumPagina) {
		var fechas = $(".date-container .drp-selected").html();

		var fechasSplit = fechas.split("-");
		var fechaInicio = $.trim(fechasSplit[0]);
		var fechaFin = $.trim(fechasSplit[1])

		//var provincia = $("#provinciasSelect").val();
		var provincia = $(".divProvincias .current").html();
		console.log(provincia);
		var cantidadHabitaciones = $("#cantidadHabitaciones").val();
		var totalAdultos = $("#cantidadAdultos").val();
		var totalNinos = $("#cantidadNinos").val();

		var precioMinimo = $(".irs-from").html().replace(/\s/g, '');
		var precioMinimo = precioMinimo.substring(1, (precioMinimo.length))
		var precioMax = $(".irs-to").html().replace(/\s/g, '');
		var precioMax = precioMax.substring(1, (precioMax.length))


		var checkEstrella5 = $("#check-aa2").is(':checked');
		var checkEstrella4 = $("#check-aa3").is(':checked');
		var checkEstrella3 = $("#check-aa4").is(':checked');

		var checkAire = $("#check-aaa5").is(':checked');//checkWifi
		var checkdesayuno = $("#check-bb5").is(':checked');//checkParking
		var checkpiscina = $("#check-dd5").is(':checked');//checkFitness


		var checkWifi = $("#check-cc5").is(':checked');//checkFumar
		var checkParqueo = $("#check-ff5").is(':checked');//checkAeropuerto
		var checkDivisas = $("#check-c4").is(':checked');//checkMinisplit

		var Destino = $("#autocompleteid3").val();


		var orden = $("#OrdenBusqueda").val();


		var dataEnviar = {
			FechaInicio: fechaInicio,
			FechaFin: fechaFin,
			Provincia: provincia,
			CantidadHabitaciones: cantidadHabitaciones,
			TotalAdultos: totalAdultos,
			TotalNinos: totalNinos,
			TotalNinos: totalNinos,
			PrecioMinimo: precioMinimo,
			PrecioMax: precioMax,
			CheckEstrella5: checkEstrella5,
			CheckEstrella4: checkEstrella4,
			CheckEstrella3: checkEstrella3,
			CheckAire: checkAire,
			Checkdesayuno: checkdesayuno,
			Checkpiscina: checkpiscina,
			CheckWifi: checkWifi,
			CheckParqueo: checkParqueo,
			CheckDivisas: checkDivisas,
			Textobusqueda: Destino,
			Orden: orden
		};

		console.log(dataEnviar);

		$.ajax({
			//url: "/Reservacion/BusquedaHabitaciones?FechaInicio=" + FechaInicio + "&FechaFinal=" + FechaFinal + "&TotalHuespedes=" + TotalHuespedes + "&children=" + children,
			type: "POST",
			url: "/Hoteles/BusquedaHoteles",
			data: dataEnviar,
			success: function (data) {
				swal.close();
				if (data.IsSuccess == true) {
					if (data.HotelesEncontrados > 0) {
						DataHoteles = data.Hoteles;
						MostrarHoteles(1);
					}
					else {
						//LimpiarBusqueda();
						Swal.fire(
							'Costa Rica Chek In.! ',
							'No se encontraron hoteles con los parametros de busqueda',
							'warning'
						);
					}
				} else {
					//LimpiarBusqueda();
					Swal.fire(
						'The Internet?',
						'Error al realizar la busqueda intente de nuevo',
						'error'
					);
				}
			},
			beforeSend: function () {
				Swal.fire({
					allowOutsideClick: false,
					showConfirmButton: false,
					showClass: {
						popup: 'animated fadeIn faster'
					},
					customClass: {
						container: 'sweetLoadingcontent'
					},
					html: "<div class='animacionJson'><lottie-player src='/js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>" +
						"</lottie-player></div>"
				});
			},
			error: function () {
				swal.close();
				Swal.fire('¡Error!', 'Error', 'error');
			},
		}).done(function () {
			/*
			$.holdReady(true);
			$.getScript("/js/lib/slick/slick.js", function () {
				$.holdReady(false);
			}); */

		});
	}


	function MostrarHoteles(numPagina) {
		Hoteles = DataHoteles;
		var htmlHotel = "";
		var dataMap = "";
		GlobalNumMap = 0;

		var ic = (numPagina * HotelPorPag - HotelPorPag);
		var Finali = numPagina * HotelPorPag;
		Finali = (Finali <= Hoteles.length) ? Finali : Hoteles.length


		//for (var i = 0; i < Hoteles.length; i++) {
		for (var i = ic; i < Finali; i++) {

			htmlHotel = htmlHotel + "<div class='listing-item'>" +
				"	<article class='geodir-category-listing fl-wrap'>" +
				"		<div class='geodir-category-img contCardImgHoteles'  >" +
				"			<a  onclick=\"VerHotel('" + Hoteles[i].CodHotel + "')\"><img src='" + Hoteles[i].BannerFullPath + "' alt='' class='cursorHand'></a>" +
				"			<div class='sale-window big-sale' style='display:" + Hoteles[i].DesayunoIncluido + "'>Desayuno incluido</div>" +
				"			<div class='geodir-category-opt'>" +
				"				<div class='listing-rating card-popup-rainingvis' data-starrating2='" + Hoteles[i].Estrellas + "'>" + MostrarEstrellas(Hoteles[i].Estrellas) + "</div>" +
				"				<div class='rate-class-name'>" +
				"					<div class='score'><strong>" + Hoteles[i].Leyenda + "</strong>" + Hoteles[i].CantidadCalificaciones + " Reseñas </div>" +
				"					<span>" + (Hoteles[i].Calificacion).toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "</span>" +
				"				</div>" +
				"			</div>" +
				"		</div>" +
				"		<div class='geodir-category-content fl-wrap title-sin_item'>" +
				"			<div class='geodir-category-content-title fl-wrap'>" +
				"				<div class='geodir-category-content-title-item'>" +
				"					<h3 class='title-sin_map cursorHand' onclick=\"VerHotel('" + Hoteles[i].CodHotel + "')\">" + Hoteles[i].Nombre + "</h3>" +
				"					<div class='geodir-category-location fl-wrap'><a href='#5' class='map-item'><i class='fas fa-map-marker-alt'></i>" + Hoteles[i].Direccion + "</a></div>" +
				"				</div>" +
				"			</div>" +
				"			<p>" + Hoteles[i].DescripcionCorta + "</p>" +
				"			<ul class='facilities-list fl-wrap'>" + MostrarServicios(Hoteles[i].HotelesServicios) +
				"			</ul>" +
				"			<div class='geodir-category-footer fl-wrap'>" +
				"				<div class='geodir-opt-link'>" +
				"					<div class='geodir-category-price'>Desde <span> $" + (Hoteles[i].PrecioPromedio).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "</span></div>" +
				"				</div>" +
				"				<div class='geodir-opt-list'>" +
				"					<a href='" + NumMapaId(Hoteles[i], "href") + "' class='map-item'><i class='fal fa-map-marker-alt'></i><span class='geodir-opt-tooltip'>En el mapa<strong>" + NumMapaId(Hoteles[i], "Mapa") + "</strong></span></a>" +
				"					<a href='javascript:;' onclick='Favorito(" + Hoteles[i].CodHotel + ")' class='geodir-js-favorite'><i class='fal fa-heart'></i><span class='geodir-opt-tooltip'>Guardar</span></a>" +
				"					<a href='#' class='geodir-js-booking'><i class='fal fa-exchange'></i><span class='geodir-opt-tooltip'>Buscar direcciones</span></a>" +
				"					<input type='hidden' id='hotelInfo" + Hoteles[i].CodHotel + "' value='" + Hoteles[i].CodHotel + "|" + Hoteles[i].Latitud + "|" + Hoteles[i].Longitud + "|" + Hoteles[i].Nombre + "|" + Hoteles[i].Direccion + "|" + Hoteles[i].BannerFullPath + "|" + Hoteles[i].Estrellas + "|$" + (Hoteles[i].PrecioPromedio).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "'>" +
				"				</div>" +
				"			</div>" +
				"		</div>" +
				"	</article>" +
				"</div>";

			dataMap = dataMap + NumMapaId(Hoteles[i], "Hidden");
		}


		$("#divHoteles").html(htmlHotel);
		$("#DataMapaPines").html(dataMap);
		Paginacion(numPagina);

		//Muestro nuevamente los pines
		$.holdReady(true);
		$.getScript("/js/maps.js", function () {
			$.holdReady(false);
		});

		var map = document.getElementById('map-main');

	}

	function MostrarEstrellas(estrellas) {
		EstrellasHtml = "";
		for (var j = 0; j < estrellas; j++) {
			EstrellasHtml = EstrellasHtml + "<i class='fa fa-star'></i>";
		}
		return EstrellasHtml;
	}

	function MostrarServicios(HotelesServicios) {
		var htmlServicios = "";
		for (var k = 0; k < HotelesServicios.length; k++) {
			htmlServicios = htmlServicios + "<li><img src='" + HotelesServicios[k].IconoFullPath + "' class='facilidadesIcono'><span>" + HotelesServicios[k].NomServicio + "</span></li>";
		}
		return htmlServicios;
	}

	function NumMapaId(Hotel, validar) {

		if (validar == "href") {
			if (Hotel.Latitud != null && Hotel.Longitud != null) {
				return "#" + GlobalNumMap;
			} else {
				return "javascript:;"
			}
		}

		if (validar == "Mapa") {
			if (Hotel.Latitud != null && Hotel.Longitud != null) {
				return GlobalNumMap + 1;
			} else {
				return "No disponible";
			}
		}

		if (validar == "Hidden") {
			if (Hotel.Latitud != null && Hotel.Longitud != null) {
				GlobalNumMap = GlobalNumMap + 1;
				return "<input type='hidden' id='locaciones' name='locaciones' value='" + Hotel.Latitud + ";" + Hotel.Longitud + ";" + Hotel.Nombre + ";" + Hotel.Direccion + ";" + Hotel.BannerFullPath + ";" + Hotel.Estrellas + ";$" + (Hotel.PrecioPromedio).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "'>";
			} else {
				return "";

			}
		}
	}


	function Paginacion(NumPagina) {
		var htmlPaginacion = "";


		if (DataHoteles.length > 0) {

			var totalPaginas = Math.ceil(DataHoteles.length / HotelPorPag);

			if (NumPagina == 1) {
				htmlPaginacion = htmlPaginacion + "<a href='javascript:;' class='prevposts-link'><i class='fa fa-caret-left'></i></a>";
			}
			else {
				htmlPaginacion = htmlPaginacion + "<a onclick='MostrarHoteles(" + (NumPagina - 1) + ")' class='prevposts-link'><i class='fa fa-caret-left'></i></a>";
			}


			for (var i = 1; i <= totalPaginas; i++) {

				var PaginaActual = (i == NumPagina) ? "class='current-page'" : "";
				pag = "<a href='#' " + PaginaActual + " onclick='MostrarHoteles(" + i + ")' >" + i + "</a>";
				htmlPaginacion = htmlPaginacion + pag;
			}

			if (NumPagina == totalPaginas) {
				htmlPaginacion = htmlPaginacion + "<a href='javascript:;' class='nextposts-link'><i class='fa fa-caret-right'></i></a>";
			}
			else {
				htmlPaginacion = htmlPaginacion + "<a  onclick='MostrarHoteles(" + (NumPagina + 1) + ")'  class='nextposts-link'><i class='fa fa-caret-right'></i></a>";
			}

			$("#pagination").html(htmlPaginacion);

		}
		else {
			$("#pagination").html("");
		}

	}

	function LimpiarBusqueda() {
		$("#divHoteles").html("");
		$("#pagination").html("");
		$("#DataMapaPines").html("");

		//Muestro nuevamente los pines
		$.holdReady(true);
		$.getScript("/js/maps.js", function () {
			$.holdReady(false);
		});
	}

	$('#provinciasSelect').on('change', function () {
		alert(this.value);
	});

	var textoFiltro = "";
	$("body").on('DOMSubtreeModified', ".nice-select .current", function () {
		textoFiltro = $(".nice-select .current").html();
		if (textoFiltro != "") {
			$("#textoBusquedaCiudad").html(textoFiltro);
			//BuscarHoteles(1);
		}
	});


	$("body").on('DOMSubtreeModified', ".listsearch .current", function () {
		textoFiltro = $(".listsearch .current").html();
		if (textoFiltro != "") {
			$("#textoBusquedaCiudad").html(textoFiltro);
		}
	});

</script>

@section Scripts{
	<script type="text/javascript" src="~/js/mapplugins.js"></script>
	<script type="text/javascript" src="~/js/maps.js"></script>
}