﻿<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="list-single-hero" data-scrollax-parent="true" id="sec1">
			<div class="bg par-elem " data-bg="@ViewBag.Hotel.BannerFullPath" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="list-single-hero-title fl-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<div class="listing-rating-wrap">
								<div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
							</div>
							<h2><span>@ViewBag.Hotel.Nombre</span></h2>
							<div class="list-single-header-contacts fl-wrap">
								<ul>
									<li><i class="far fa-map-marker-alt"></i><a href="#">@ViewBag.Hotel.Direccion</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-5">
							<!--  list-single-hero-details-->
							<div class="list-single-hero-details fl-wrap">
								<!--  list-single-hero-rating-->
								<div class="list-single-hero-rating">
									<div class="rate-class-name">
										<div class="score"><strong>@ViewBag.TestimonialHotel.Leyenda</strong>@ViewBag.TestimonialHotel.TotalComentarios Reseñas </div>
										<span>@ViewBag.Hotel.Calificacion</span>
									</div>
									<!-- list-single-hero-rating-list-->
									<div class="list-single-hero-rating-list">
										<!-- rate item-->
										<div class="rate-item fl-wrap">
											<div class="rate-item-title fl-wrap"><span>Limpieza </span></div>
											<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Limpieza)%">
												<div class="rate-item-line color-bg"></div>
											</div>
											<div class="rate-item-percent">@ViewBag.TestimonialHotel.Limpieza</div>
										</div>
										<!-- rate item end-->
										<!-- rate item-->
										<div class="rate-item fl-wrap">
											<div class="rate-item-title fl-wrap"><span>Confort </span></div>
											<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Comfort)%">
												<div class="rate-item-line color-bg"></div>
											</div>
											<div class="rate-item-percent">@ViewBag.TestimonialHotel.Comfort</div>
										</div>
										<!-- rate item end-->
										<!-- rate item-->
										<div class="rate-item fl-wrap">
											<div class="rate-item-title fl-wrap"><span>Personal </span></div>
											<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Staf)%">
												<div class="rate-item-line color-bg"></div>
											</div>
											<div class="rate-item-percent">@ViewBag.TestimonialHotel.Staf</div>
										</div>
										<!-- rate item end-->
										<!-- rate item-->
										<div class="rate-item fl-wrap">
											<div class="rate-item-title fl-wrap"><span>Instalaciones</span></div>
											<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Facilidades)%">
												<div class="rate-item-line color-bg"></div>
											</div>
											<div class="rate-item-percent">@ViewBag.TestimonialHotel.Facilidades</div>
										</div>
										<!-- rate item end-->
									</div>
									<!-- list-single-hero-rating-list end-->
								</div>
								<!--  list-single-hero-rating  end-->
								<div class="clearfix"></div>
								<!-- list-single-hero-links-->
								<div class="list-single-hero-links">
									<a class="lisd-link" id="linkReservaAhora"><i class="fal fa-bookmark"></i> Reserva Ahora</a>
									<!-- <a class="custom-scroll-link lisd-link" href="#sec6"><i class="fal fa-comment-alt-check"></i> Add review</a> -->

								</div>
								<!--  list-single-hero-links end-->
							</div>
							<!--  list-single-hero-details  end-->
						</div>
					</div>
					<div class="breadcrumbs-hero-buttom fl-wrap">
						<div class="breadcrumbs"><a href="#">Inicio</a><a href="#">Hoteles</a><a href="#">New York</a><span>Detalle hotel</span></div>
						<div class="list-single-hero-price">Desde<span>@string.Format("{0:C}", @ViewBag.Hotel.PrecioPromedio)</span></div>
					</div>
				</div>
			</div>
		</section>
		<!--  section  end-->
		<!--  section  -->
		<section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
			<!--  scroll-nav-wrapper  -->
			<div class="scroll-nav-wrapper fl-wrap">
				<div class="hidden-map-container fl-wrap">
					<input id="pac-input" class="controls fl-wrap controls-mapwn" type="text" placeholder="¿Que hay cerca?">
					<div class="map-container">
						<div id="singleMap" data-latitude="@Convert.ToDouble(ViewBag.Hotel.Latitud)" data-longitude="@Convert.ToDouble(ViewBag.Hotel.Longitud)"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="container">
					<nav class="scroll-nav scroll-init">
						<ul>
							<li><a class="act-scrlink" href="#sec1">Top</a></li>
							<li><a href="#sec2" id="linkDetail">Details</a></li>
							<li><a href="#sec3">Amenities</a></li>
							<li><a href="#sec4" id="linkroom">Rooms</a></li>
							<li><a href="#sec5">Reviews</a></li>
						</ul>
					</nav>
					<a href="#" class="show-hidden-map">  <span>Ver Ubicación</span> <i class="fal fa-map-marked-alt"></i></a>
				</div>
			</div>
			<!--  scroll-nav-wrapper end  -->
			<!--   container  -->
			<div class="container containerGalleriaDetalle">
				<!--   row  -->
				<div class="row">
					<!--   datails -->
					<div class="col-md-8">
						<div class="list-single-main-container ">

							<div class="list-single-main-media fl-wrap">
								<!-- gallery-items   -->
								<div class="gallery-items grid-small-pad  list-single-gallery three-coulms lightgallery">
									@if (ViewBag.FotosHotel1 != null)
									{
										foreach (var fotoHotel in ViewBag.FotosHotel1)
										{
											<div class="gallery-item">
												<div class="grid-item-holder imgHolderMini">
													<div class="box-item">
														<img src="@fotoHotel.UrlFoto" alt="">
														<a href="@fotoHotel.UrlFoto" class="gal-link popup-image"><i class="fa fa-search"></i></a>
													</div>
												</div>
											</div>
										}
									}
									<!-- 3 -->
									@if (ViewBag.FotosHotel2Grande != null)
									{
										<div class="gallery-item gallery-item-second">
											<div class="grid-item-holder imgHolderBig">
												<div class="box-item">
													<img src="@ViewBag.FotosHotel2Grande.UrlFoto" alt="">
													<a href="@ViewBag.FotosHotel2Grande.UrlFoto" class="gal-link popup-image"><i class="fa fa-search"></i></a>
												</div>
											</div>
										</div>
									}

									@if (ViewBag.FotosHotel3 != null)
									{
										foreach (var fotoHotel in ViewBag.FotosHotel3)
										{
											<div class="gallery-item">
												<div class="grid-item-holder imgHolderMini">
													<div class="box-item">
														<img src="@fotoHotel.UrlFoto" alt="">
														<a href="@fotoHotel.UrlFoto" class="gal-link popup-image"><i class="fa fa-search"></i></a>
													</div>
												</div>
											</div>
										}
									}

									<!-- 3 end -->
									<!-- 7 -->
									@if (ViewBag.FotosHotel4 != null)
									{
										<div class="gallery-item">
											<div class="grid-item-holder imgHolderMini">
												<div class="box-item">
													<img src="@ViewBag.FotosHotel4.UrlFoto" alt="">
													<div class="more-photos-button dynamic-gal" data-dynamicPath="[@ViewBag.FotosHotelHide]">Other <span>@ViewBag.FotosHotelHideContador Fotos</span><i class="far fa-long-arrow-right"></i></div>
												</div>
											</div>
										</div>
									}
									<!-- 7 end -->
								</div>
								<!-- end gallery items -->
							</div>
							<!-- list-single-header end -->
							<div class="list-single-facts fl-wrap">
								<!-- inline-facts -->
								<div class="inline-facts-wrap">
									<div class="inline-facts">
										<i class="fal fa-bed"></i>
										<div class="milestone-counter">
											<div class="stats animaper">
												4
											</div>
										</div>
										<h6>Diferentes Habitaciones</h6>
									</div>
								</div>
								<!-- inline-facts end -->
								<!-- inline-facts  -->
								<div class="inline-facts-wrap">
									<div class="inline-facts">
										<i class="fal fa-users"></i>
										<div class="milestone-counter">
											<div class="stats animaper">
												1289
											</div>
										</div>
										<h6>Clientes Satisfechos</h6>
									</div>
								</div>
								<!-- inline-facts end -->
								<!-- inline-facts -->
								<div class="inline-facts-wrap">
									<div class="inline-facts">
										<i class="fal fa-taxi"></i>
										<div class="milestone-counter">
											<div class="stats animaper">
												1
											</div>
										</div>
										<h6>Opción de transporte</h6>
									</div>
								</div>
								<!-- inline-facts end -->
								<!-- inline-facts -->
								<div class="inline-facts-wrap">
									<div class="inline-facts">
										<i class="fal fa-cocktail"></i>
										<div class="milestone-counter">
											<div class="stats animaper">
												1
											</div>
										</div>
										<h6>Restaurante</h6>
									</div>
								</div>
								<!-- inline-facts end -->
							</div>
							<!--   list-single-main-item -->
							<div class="list-single-main-item fl-wrap">
								<div class="list-single-main-item-title fl-wrap">
									<h3>Acerca del Hotel </h3>
								</div>
								<p>@ViewBag.Hotel.DescripcionLarga</p>

								<a href="@ViewBag.Hotel.UrlVideo" class="btn flat-btn color-bg big-btn float-btn image-popup">Ver Video<i class="fal fa-play"></i></a>
							</div>
							<!--   list-single-main-item end -->
							<!--   list-single-main-item -->
							<div class="list-single-main-item fl-wrap" id="sec3">
								<div class="list-single-main-item-title fl-wrap">
									<h3>Amenidades</h3>
								</div>
								<div class="listing-features fl-wrap">
									<ul>
										@foreach (var amenida in ViewBag.Hotel.HotelesAmenidades)
										{
											<li><i><img src="~/images/flecha.png" width="20" /></i> @amenida.NomAmenidad</li>

										}
									</ul>
								</div>
								<span class="fw-separator"></span>
								<div class="list-single-main-item-title no-dec-title fl-wrap">
									<h3 id="htags">Tags</h3>
								</div>
								<div class="list-single-tags tags-stylwrap">

									@if (ViewBag.Tags != null)
									{
										foreach (var tag in ViewBag.Tags)
										{
											<a href="#">@tag</a>
										}
									}
								</div>
							</div>
							<!--   list-single-main-item end -->

							@if (ViewBag.Hotel != null)
							{
								<!-- accordion-->
								<div class="accordion mar-top" id="hhabdis">

									@if (!String.IsNullOrEmpty(ViewBag.Hotel.Descripcion1))
									{
										<a class="toggle act-accordion" href="#"> Descripcion 1 <span></span></a>
										<div class="accordion-inner visible">
											<p>@ViewBag.Hotel.Descripcion1</p>
										</div>
									}

									@if (!String.IsNullOrEmpty(ViewBag.Hotel.Descripcion2))
									{
										<a class="toggle" href="#"> Descripcion 2  <span></span></a>
										<div class="accordion-inner">
											<p>@ViewBag.Hotel.Descripcion2</p>
										</div>
									}
									@if (!String.IsNullOrEmpty(ViewBag.Hotel.Descripcion3))
									{
										<a class="toggle" href="#"> Descripcion 3  <span></span></a>
										<div class="accordion-inner">
											<p>@ViewBag.Hotel.Descripcion3</p>
										</div>
									}

								</div>
								<!-- accordion end -->
							}

							<!--   list-single-main-item -->
							<div class="list-single-main-item fl-wrap" id="sec4">
								<div class="list-single-main-item-title fl-wrap" id="secHabitaciones	">
									<h3>Habitaciones disponibles</h3>
								</div>
								<!--   rooms-container -->
								<div class="rooms-container fl-wrap habitacionesDisponibles">
									@foreach (var Habitacion in ViewBag.Habitaciones)
									{
										<!--  rooms-item -->
										<div class="rooms-item fl-wrap">
											<div class="rooms-media">
												<img src="@Habitacion.FotoPrincipal" alt="">
												<div class="dynamic-gal more-photos-button" data-dynamicPath="[@Habitacion.FotosCadena]"> Ver Galería <span>@Habitacion.Fotos.Count Fotos</span> <i class="far fa-long-arrow-right"></i> </div>
											</div>
											<div class="rooms-details">
												<div class="rooms-details-header fl-wrap">
													<span class="rooms-price">@string.Format("{0:C}", Habitacion.Precio)<strong> / Noche</strong></span>
													<h3>@Habitacion.NombreTipoHab </h3>
													<h5>Max Huéspedes: <span>@Habitacion.CapacidadAdultos  Personas</span></h5>
												</div>
												<p>@Habitacion.Descripcion </p>
												<div class="facilities-list fl-wrap">
													<ul>
														@foreach (var servicio in Habitacion.Servicios)
														{
															<li><img src="@servicio.IconoFullPath " width="20" /><span>@servicio.NomServicio </span></li>
														}
													</ul>
													<a href="/hoteles/habitacion?codHotel=@(Habitacion.CodHotel)&codHabitacion=@(Habitacion.CodTipoHab)" class="btn color-bg ajax-link">Ver Más<i class="fas fa-caret-right"></i></a>
												</div>
											</div>
										</div>
										<!--  rooms-item end -->
									}


								</div>
								<!--   rooms-container end -->
							</div>
							<!-- list-single-main-item end -->
							<!-- list-single-main-item -->
							<div class="list-single-main-item seccionTestimonial fl-wrap" id="sec5">
								<div class="list-single-main-item-title fl-wrap">
									<h3>Reseñas -  <span> @ViewBag.TestimonialHotel.TotalComentarios </span></h3>
								</div>
								<!--reviews-score-wrap-->
								<div class="reviews-score-wrap fl-wrap">
									<div class="review-score-total">
										<span>
											@ViewBag.TestimonialHotel.Calificacion.ToString("0.00")
											<strong>@ViewBag.TestimonialHotel.Leyenda</strong>
										</span>
										<a href="#" class="color2-bg">Agregar Reseña</a>
									</div>
									<div class="review-score-detail">
										<!-- review-score-detail-list-->
										<div class="review-score-detail-list">
											<!-- rate item-->
											<div class="rate-item fl-wrap">
												<div class="rate-item-title fl-wrap"><span>Limpieza</span></div>
												<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Limpieza)%">
													<div class="rate-item-line color-bg"></div>
												</div>
												<div class="rate-item-percent">@ViewBag.TestimonialHotel.Limpieza</div>
											</div>
											<!-- rate item end-->
											<!-- rate item-->
											<div class="rate-item fl-wrap">
												<div class="rate-item-title fl-wrap"><span>Confort </span></div>
												<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Comfort)%">
													<div class="rate-item-line color-bg"></div>
												</div>
												<div class="rate-item-percent">@ViewBag.TestimonialHotel.Comfort</div>
											</div>
											<!-- rate item end-->
											<!-- rate item-->
											<div class="rate-item fl-wrap">
												<div class="rate-item-title fl-wrap"><span>Personal </span></div>
												<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Staf)%">
													<div class="rate-item-line color-bg"></div>
												</div>
												<div class="rate-item-percent">@ViewBag.TestimonialHotel.Staf</div>
											</div>
											<!-- rate item end-->
											<!-- rate item-->
											<div class="rate-item fl-wrap">
												<div class="rate-item-title fl-wrap"><span>Instalaciones</span></div>
												<div class="rate-item-bg" data-percent="@(100/5*@ViewBag.TestimonialHotel.Facilidades)%">
													<div class="rate-item-line color-bg"></div>
												</div>
												<div class="rate-item-percent">@ViewBag.TestimonialHotel.Facilidades</div>
											</div>
											<!-- rate item end-->
										</div>
										<!-- review-score-detail-list end-->
									</div>
								</div>
								<!-- reviews-score-wrap end -->
								<div class="reviews-comments-wrap">
									@if (ViewBag.TestimonialHotel.comentario != null)
									{

										foreach (var comentario in ViewBag.TestimonialHotel.comentario)
										{
											<!-- reviews-comments-item -->
											<div class="reviews-comments-item">
												<div class="review-comments-avatar">
													<img src="@comentario.URLFotoFullPath" alt="">
												</div>
												<div class="reviews-comments-item-text">
													<h4><a href="#">@comentario.Nombre</a></h4>
													<div class="review-score-user">
														<span>@comentario.Calificacion</span>
														<strong>@comentario.Leyenda</strong>
													</div>
													<div class="clearfix"></div>
													<p>" @comentario.Comentario "</p>
													<div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>@comentario.Fecha.ToString("dd MMM yyyy")</span><a href="#"><i class="fal fa-reply"></i> Respuesta</a></div>
												</div>
											</div>
											<!--reviews-comments-item end-->
										}
									}

								</div>
							</div>
							<!-- list-single-main-item end -->

						</div>
					</div>
					<!--   datails end  -->
					<!--   sidebar  -->
					<div class="col-md-4">
						<!--box-widget-wrap -->
						<div class="box-widget-wrap">
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content" id="formHabitacion">
										<div class="box-widget-item-header">
											<h3> Reserva este Hotel</h3>
										</div>
										<form name="bookFormCalc" class="book-form custom-form" action="/reservacion" id="bookFormCalc">
											<fieldset>
												<div class="cal-item">
													<div class="listsearch-input-item">
														<label>Tipo de Habitación</label>
														<select data-placeholder="Room Type" name="repopt" class="chosen-select no-search-select">
															<option value="0" selected>Seleccion una Habitacion</option>

															@foreach (var Habitacion in ViewBag.Habitaciones)
															{
																<option value="@Habitacion.Precio">@Habitacion.NombreTipoHab - @string.Format("{0:C}", Habitacion.Precio) </option>
															}
														</select>
														<!--data-formula -->
														<input type="text" name="item_total" class="hid-input" value="" data-form="{repopt}">
													</div>
												</div>
												<div class="cal-item">
													<div class="bookdate-container  fl-wrap">
														<label><i class="fal fa-calendar-check"></i> Desde </label>
														<input type="text" placeholder="Fecha Entrada-Salida" name="bookdates" id="bookdatesx" value="" autocomplete="off" />
														<div class="bookdate-container-dayscounter"><i class="far fa-question-circle"></i><span>Days : <strong>0</strong></span></div>
													</div>
												</div>
												<div class="cal-item">
													<div class="quantity-item fl-wrap" id="divAdultos">
														<label> Adultos</label>
														<div class="quantity">
															<input type="number" name="qty3" id="qty3" min="1" max="5" step="1" value="1">
															<input type="text" name="item_total" class="hid-input" value="0" data-form="{qty3} * {repopt} - {repopt}">
														</div>
													</div>
													<div class="quantity-item fl-wrap fcit" id="divNinos">
														<label> Niños</label>
														<div class="quantity">
															<input type="number" name="qty2" id="qty2" min="0" max="3" step="1" value="0">
															<select name="sale" class="hid-input">
																<option value="1" selected>sale</option>
															</select>
															<input type="text" name="item_total" class="hid-input" value="0" data-form="({repopt} * {sale})*{qty2}">
														</div>
													</div>
												</div>
											</fieldset>
											<input type="number" id="totaldays" name="qty5" class="hid-input" value="2">
											<!--
	<div class="total-coast fl-wrap"><strong>Costo Total</strong><span class="costoTotal">$ <input type="text" name="grand_total" value="" data-form="SUM({item_total}) * ({qty5}-1)"></span></div>
	-->
											<div class="total-coast fl-wrap"><strong>Costo Total</strong><span class="costoTotal"><input type="text" name="grand_total" id="grand_total" value="0.00" ></span></div>
											<button id="btnReservarx" class="btnaplly color2-bg"><span id="spnReservar">Reservar</span>  <i class="fal fa-paper-plane"></i></button>
											<input type="hidden" id="IdHabitacionEscogida" name="habitacionEscogida" />
											<input type="hidden" id="IdHotel" name="IdHotel" value="@ViewBag.Hotel.CodHotel" />
											<input type="hidden" id="fechaInicio" name="fechaInicio" />
											<input type="hidden" id="fechaFin" name="fechaFin" />
										</form>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget counter-widget" data-countDate="09/12/2019">
									<div class="banner-wdget fl-wrap">
										@*<div class="overlay"></div>*@
										<div class="bg" data-bg="/images/bannercc.png"></div>
										<div class="banner-wdget-content fl-wrap" style="opacity:0; user-select:none">
											<h4>Get a discount <span>20%</span> when ordering a room from three days.</h4>
											<div class="countdown fl-wrap">
												<div class="countdown-item">
													<span class="days rot">00</span>
													<p>days</p>
												</div>
												<div class="countdown-item">
													<span class="hours rot">00</span>
													<p>hours </p>
												</div>
												<div class="countdown-item">
													<span class="minutes rot">00</span>
													<p>minutes </p>
												</div>
												<div class="countdown-item">
													<span class="seconds rot">00</span>
													<p>seconds</p>
												</div>
											</div>
											<a href="#">Book Now</a>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3> Información de contacto</h3>
										</div>
										<div class="box-widget-list">
											<ul>
												<li><span><i class="fal fa-map-marker"></i> Dirección  :</span> <a href="#">San José, pozos de Santa Ana</a></li>
												<li><span><i class="fal fa-phone"></i> Telefono :</span> <a href="#">(506) 2203-0500</a></li>
												<li><span><i class="fal fa-envelope"></i> Correo Electronico :</span> <a href="#">Soporte@costaricacheckin.com</a></li>
											</ul>
										</div>
										<div class="list-widget-social">
											<ul>
												<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="https://www.instagram.com/costarica_checkin/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3> Rango de precios </h3>
										</div>
										<div class="claim-price-wdget fl-wrap">
											<div class="claim-price-wdget-content fl-wrap">
												<div class="pricerange fl-wrap"><span>Precio : </span> @string.Format("{0:C}", @ViewBag.Hotel.PrecioMinimo) - @string.Format("{0:C}", @ViewBag.Hotel.PrecioMaximo) </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->

						</div>
						<!--box-widget-wrap end -->
					</div>
					<!--   sidebar end  -->
				</div>
				<!--   row end  -->
			</div>
			<!--   container  end  -->
		</section>
		<!--  section  end-->
	</div>
	<!-- content end-->
	<div class="limit-box fl-wrap"></div>
</div>
<!--wrapper end -->

@foreach (var Habitacion in ViewBag.Habitaciones)
{
	<input type="hidden" id="habitacionIds" name="habitacionIds" value="@(Habitacion.CodTipoHab);@(Habitacion.NombreTipoHab)" />
}

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script>


	window.onload = function () {
		sessionStorage.setItem('reservarAhoraST', 0);
		$("#grand_total").val("$0.00");
	};

	var controlAdultos = "1";
	var controlNinos = "0";
	var ReservaVerificacion = true;
	var ReservaDisponible = false;

	$("body").on('DOMSubtreeModified', ".current", function () {
		texto = $(".current").html();
		if (texto != "") {
			//CalcularTotal();
		}
	});

	$("#btnReservarx").submit(function () {
		//window.location.href = "/reservacion/index?FechaIniCheck=" + FechaInicio + "&fechaFinCheck=" + FechaFinal + "&huespedes=" + $("#ModalReservacion #totalHuespdes").val() + "&children=" + $("#ModalReservacion #totalNinos").val();
		//window.location.href = "/reservacion";

	});


	//$("#bookFormCalc").submit(function (e) {
	$("#btnReservarx").click(function (e) {		
		
		var idHabitacion = "";
		texto = $("#formHabitacion .current").html();
		arrayTexto = texto.split("-");
		textoHabitacion = $.trim(arrayTexto[0]);	

		var inputs = document.getElementsByName("habitacionIds");
		for (var i = 0; i < inputs.length; i++) {
			var valores = inputs[i].value;
			var datos = valores.split(";");
			if ($.trim(datos[1]) == textoHabitacion) {
				idHabitacion = datos[0];
				$("#IdHabitacionEscogida").val(idHabitacion);				
			}
		}

		if (idHabitacion == "") {
			Swal.fire(
				'Advertencia',
				'Elija una habitacion',
				'warning'
			)

			return false;
		}

		if ($("#bookdatesx").val() == "") {
			Swal.fire(
				'Advertencia',
				'Elija las fechas de su instancia',
				'warning'
			)
			return false;
		}

		fechas = $("#bookdatesx").val();
		arrayFechas = fechas.split("-");
		fechaInicio = $.trim(arrayFechas[0]);
		fechaFin = $.trim(arrayFechas[1]);
		fechaInicio = fechaInicio.replace(/\//g, '-');
		fechaFin = fechaFin.replace(/\//g, '-');

		$("#fechaInicio").val(fechaInicio);
		$("#fechaFin").val(fechaFin);

		//Verificon con api precio y validacion		
		if (ReservaVerificacion == true) {
			VerificacionDisponiblidad();
			return false;
		}
		if (ReservaDisponible == false) {
			console.log("Me ignoran")
			return false;
		}

		console.log(ReservaVerificacion);
		console.log(ReservaDisponible);

		$("#bookFormCalc").submit();		
		//return false;

	});


	$("#linkReservaAhora").click(function () {
		$('#linkroom').click();
	});

	$("#ReservarHab").click(function () {
		alert("xxxx");
	});


	$("body").on('DOMSubtreeModified', ".ajax-modal-container #ajax-modal", function () {

		textoFiltro = $(".ajax-modal-container #ajax-modal").html();
		if (textoFiltro == "") {
			if (sessionStorage.getItem('reservarAhoraST') == 1) {
				sessionStorage.setItem('reservarAhoraST', 0);
				$('#linkDetail').click();
			}
		}
	});


	//Validacion de las fechas del formulario
	

	var TextoHabSeleccionado = "";
	$("body").on('DOMSubtreeModified', "#bookFormCalc .current", function () {		
		texto = $("#bookFormCalc .current").html();
		if (texto != "" && texto != "Seleccion una Habitacion") {
			if (TextoHabSeleccionado != texto) {				
				TextoHabSeleccionado = texto;
				ValidarReservacion();
			}			
		}
	});


	

	$(document).on('click', '#bookFormCalc .applyBtn', function () {		
		ValidarReservacion();
	});

	
	$("#divAdultos").click(function () {
		if (controlAdultos != $("#qty3").val()) {
			controlAdultos = $("#qty3").val();
			ValidarReservacion();
		}
	});

	
	$("#divNinos").click(function () {		
		if (controlNinos != $("#qty2").val()) {			
			controlNinos = $("#qty2").val();
			ValidarReservacion();
		}
	});

	function ValidarReservacion() {
		console.log("Verificar reserva");
		ReservaVerificacion = true;
		ReservaDisponible = false;
		$("#grand_total").val("$0.00");
		$("#spnReservar").html("Verificar Reserva");		
	}

	function VerificacionDisponiblidadxxx(){
		
		//ReservaVerificacion = false;
		//ReservaDisponible = true;
		//$("#bookFormCalc").submit(); 
	}


	function VerificacionDisponiblidad() {
		//ReservaVerificacion = false;
		//ReservaDisponible = true;

		console.log("xxxx----");
		var dataEnviar = {
			codHotel: $("#IdHotel").val(),
			cantAdultos: $("#qty3").val(),
			cantNinos: $("#qty2").val(),
			fechaInicio: $("#fechaInicio").val(),
			fechaFinal: $("#fechaFin").val(), 
			CodTipoHab: $("#IdHabitacionEscogida").val()
		};

		console.log(dataEnviar);
		$.ajax({
			type: "POST",
			url: "/Reservacion/BusquedaHotelesDisponibilidad",
			data: dataEnviar,
			success: function (data) {
				console.log(data);
				swal.close();
				if (data.IsSuccess == true) {
					ReservaVerificacion = false;
					ReservaDisponible = true;
					console.log("ok");
					$("#grand_total").val(data.TotalHabitacion);
					$("#spnReservar").html("Reserva");

					Swal.fire({
						position: 'top-end',
						icon: 'success',
						title: 'Habitación disponible, puede reservar',
						showConfirmButton: false,
						timer: 1500
					})

				} else {					
					$("#grand_total").val("$0.00");

					Swal.fire(
						'Advertencia',
						'Habitacion no disponible',
						'warning'
					)

				}
			},
			beforeSend: function () {
				Swal.fire({
					allowOutsideClick: false,
					showConfirmButton: false,
					showClass: {
						popup: 'animated fadeIn faster'
					},
					customClass: {
						container: 'sweetLoadingcontent'
					},
					html: "<div class='animacionJson'><lottie-player src='/js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>" +
						"</lottie-player></div>"
				});
			},
			error: function () {
				swal.close();
				Swal.fire('¡Error!', 'Error', 'error');
			},
		}).done(function () {
			/*
			$.holdReady(true);
			$.getScript("/js/lib/slick/slick.js", function () {
				$.holdReady(false);
			}); */

		});

		
	}


</script>



