﻿<div class="container">
	<div class="section-title">
		<div class="section-title-separator"><span></span></div>
		<h2>¿Qué Opinan De Nuestros Destinos?</h2>
		<span class="section-separator"></span>
		<p>Trabajamos todos los días para que tengás la mejor experiencia en cada viaje.</p>
	</div>
</div>
<div class="clearfix"></div>
<!--slider-carousel-wrap -->
<div class="slider-carousel-wrap text-carousel-wrap fl-wrap">
	<div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
	<div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
	<div class="text-carousel single-carousel fl-wrap">

		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/españa.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
				<div class="review-owner fl-wrap">¡Excepcional! - <span>Celina</span></div>
				<p> " La ubicación en medio de vegetación y en la playa. No había mucha gente por lo que la playa parecía nuestra. El servicio fue muy amable y el hotel dispone de todo tipo de servicios... "</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/costarica.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
				<div class="review-owner fl-wrap">Volveremos Pronto   - <span>Joseph</span></div>
				<p>
					" En primer lugar, todo el personal tiene una excelente atención. Se encuentra bien ubicado. Las habitaciones son enormes y están muy bien equipadas!
					La primer noche había un olor feo en la habitación, lo limpiaron y además nos cambiaron a una más grande. Ofrecen muy buena información y venden tours también.
					El salón de desayuno es muy lindo y tiene una hermosa vista. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/francia.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
				<div class="review-owner fl-wrap">Merci Costa Rica - <span>Mireille </span></div>
				<p>
					" Es difícil decidir por dónde comenzar porque la experiencia fue extraordinaria en todos los sentidos. Los propietarios, son unos anfitriones cálidos, atentos y respetuosos.
					En todo momento nos facilitaron la estancia y nos proporcionaron información muy valiosa para las excursiones que realizamos (además de prestarnos sus sillas de playa!).
					El hotel es una preciosidad, rodeado de naturaleza y confort. Apreciamos muchísimo el silencio y la tranquilidad, era exactamente lo que estábamos buscando. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/canada.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
				<div class="review-owner fl-wrap">We loved Costa Rica  - <span>Patrick  </span></div>
				<p>
					" Great location overlooking the Pacific Ocean. Wonderful hosts, peaceful environment,
					their property is right on Playa Junquillal perfect for us to walk and swim at this clean amazing beach!
					We also delighted in some of the host's delicious food and they were very friendly and helpful with any questions we had, making us feel right at home. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/costarica.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
				<div class="review-owner fl-wrap">No se puede pedir más - <span>María José</span></div>
				<p>
					"Muy cómoda la villa, bien equipada y silenciosa. La vista a Playa Hermosa es increíble y cuenta con todas las comodidades incluyendo lavadora de platos,
					lavadora y secadora de ropa y muy buen aire acondicionado. Totalmente recomendado! "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/estadosunidos.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
				<div class="review-owner fl-wrap">We will be back soon! - <span>Heidi</span></div>
				<p>
					"We really enjoyed our stay. The host was incredibly helpful. He gave us driving directions from the airport, told us about the towns nearby and suggested some amazing places to eat.
				</p>
				<p>
					Is exactly like the picture. It was clean and comfortable and the fully stocked kitchen made it easy to self cater some of our meals. Having access to the resort was also great. While we enjoyed our pool at the Villa, the larger pools were very nice and provided a fun way to stay cool. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/suecia.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
				<div class="review-owner fl-wrap">Costa Rica…  - <span>Anders</span></div>
				<p>
					" We're so happy that we're choose to stay in Cost Rica! Great place to relax. You're living ON a secluded beach which is crazy. The host is super kind and will make sure you have a great time. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/costarica.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
				<div class="review-owner fl-wrap">!Pura Vida!  - <span>Victor </span></div>
				<p>
					" ¡Esperamos volver! Nos encanto el lugar, es super acogedor, esta super bien equipado, muy buena atención, ademas fuimos con nuestra perrita y también disfruto montones. Sin duda volveríamos. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/estadosunidos.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
				<div class="review-owner fl-wrap">Perfect place in a perfect country - <span>John  </span></div>
				<p>
					" We highly recommend to stay in this villa, with this fantastic view. It is very well suited for families, clean, nice beds, AC and fans,
					and equipped with all facilities from washing machine to well equipped kitchen. Placed on a hill side, with this outstanding view, from two balconies.
					Very nice private swimming pool, and an outdoor shower. Easy access to the Beach. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->
		<!--slick-item -->
		<div class="slick-item">
			<div class="text-carousel-item">
				<div class="popup-avatar"><img src="~/images/Banderas/costarica.png" alt=""></div>
				<div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
				<div class="review-owner fl-wrap">Espectacular servicio  - <span>Carlos   </span></div>
				<p>
					" El aseo y apariencia de la habitación, las galletas cocanas, la amabilidad y servicio de Magally y del caballero que la reemplaza en el otro turno,
					este último nos buscó a la habitación para informarnos que había un oso perezoso visible en un árbol del hotel, eso fue un gran detalle.
					Y el balcón con vista al volcán es genial. "
				</p>
				<a href="#" class="testim-link">Via Facebook</a>
			</div>
		</div>
		<!--slick-item end -->


	</div>
</div>
<!--slider-carousel-wrap end-->