﻿
<footer class="main-footer">
    <!--subscribe-wrap-->
    <div class="subscribe-wrap color-bg  fl-wrap">
        <div class="container">             
            <div class="row">
                <div class="col-md-6">
                    <div class="subscribe-header">
                        <h3>Suscribite</h3>
                        <p>Enterate rápidamente de todas las ofertas y promociones que nuestros hoteles tienen para vos.</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="footer-widget fl-wrap">
                        <div class="subscribe-widget fl-wrap">
                            <div class="subcribe-form">
                                <form id="subscribe">
                                    <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="Ingresá tu correo electrónico" spellcheck="false" type="text">
                                    <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fas fa-rss-square"></i> Suscribite</button>
                                    <label for="subscribe-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave-bg"></div>
    </div>
    <!--subscribe-wrap end -->
    <!--footer-inner-->
    <div class="footer-inner">
        <div class="container">
            <!--footer-fw-widget-->
            <div class="footer-fw-widget fl-wrap">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-carousel-title" style="padding-bottom:10px;">
                            PAGOS SEGUROS:
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1 col-xs-4 vcenter"><img src="~/images/payment/mc2.png" alt="" class="img-responsive"></div>
                            <div class="col-sm-2 col-xs-4 vcenter"><img src="~/images/payment/visan.png" alt=""  class="img-responsive"></div>
                            <div class="col-sm-2 col-xs-4 vcenter"><img src="~/images/payment/mcs.png" alt=""  class="img-responsive"></div>
                            <div class="col-sm-2 col-xs-4 vcenter"><img src="~/images/payment/visa.png" alt="" class="img-responsive"></div>
                            @*<div class="col-sm-2 col-xs-4 vcenter"><img src="~/images/payment/bac.png" alt="" class="img-responsive"></div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-fw-widget end-->
            <div class="row">
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>SOBRE NOSOTROS</h3>
                        <div class="footer-contacts-widget fl-wrap">
                            <p>Trabajamos todos los días por mejorar y ayudar a la industria turística de Costa Rica. Por qué Costa Rica puede ser pequeño en extensión pero esconde grandes sorpresas en cada rincón.</p>
                            <ul class="footer-contacts fl-wrap">
                                <li><span><i class="fal fa-envelope"></i> Correo Electrónico :</span><a href="#" target="_blank">Soporte@costaricacheckin.com</a></li>
                                <li> <span><i class="fal fa-map-marker-alt"></i> Dirección :</span><a href="#" target="_blank">San José, pozos de Santa Ana</a></li>
                                <li><span><i class="fal fa-phone"></i> Teléfono :</span><a href="#">(506) 2203-0500</a></li>
                            </ul>
                            <div class="footer-social">
                                <span>SEGUINOS: </span>
                                <ul>
                                    <li><a href="https://www.facebook.com/CostaRicaCheckIn/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>                                    
                                    <li><a href="https://www.instagram.com/costarica_checkin/" target="_blank"><i class="fab fa-instagram"></i></a></li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-widget end-->
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>NUESTRO BLOG</h3>
                        <div class="widget-posts fl-wrap">
							<ul>
								@if (ViewBag.BlogsFooter != null)
								{

									@foreach (var Articulo in ViewBag.BlogsFooter)
									{
										<li class="clearfix">
											<a href="/Nosotros/InternaBlog/@(Articulo.idBlog)" class="widget-posts-img"><img src="@Articulo.ImageFullPath" class="respimg" alt=""></a>
											<div class="widget-posts-descr">
												<a href="/Nosotros/InternaBlog/@(Articulo.idBlog)" title="">@Html.Raw(Articulo.Titulo)</a>
												<span class="widget-posts-date">@Articulo.Fecha.ToString("dd MMMM yyyy")</span>
											</div>
										</li>
									}
								}
							</ul>
                        </div>
                    </div>
                </div>
                <!--footer-widget end-->
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>INSTAGRAM</h3>
                        <div class="jr-insta-thumb" style="background-color:white">
                            <ul>
                                <li>
                                    <a href="#"><img src="~/images/ximgHome/8-1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/ximgHome/8-2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/ximgHome/9.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/ximgHome/2-3.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/ximgHome/2-4.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/ximgHome/2-5.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="twitter-link" target="_blank">SEGUINOS</a>
                    </div>
                </div>
                <!--footer-widget end-->
            </div>
            <div class="clearfix"></div>
            <!--footer-widget -->
            <div class="footer-widget">
                <div class="row">
                    <div class="col-md-4"><a class="contact-btn color-bg" href="/Nosotros/Contacto">Enviar Correo<i class="fal fa-envelope"></i></a></div>
                    <div class="col-md-8">
                        <div class="customer-support-widget fl-wrap">
                            <h4>Servicio al cliente: </h4>
							<a href="tel:+506 2203-0500" class="cs-mumber">(506) 2203-0500</a>
                            <a href="tel:+506 2203-0500" class="cs-mumber-button color2-bg">Llamar<i class="far fa-phone-volume"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-widget end -->
        </div>
    </div>
    <!--footer-inner end -->
    <div class="footer-bg">
    </div>
    <!--sub-footer-->
    <div class="sub-footer">
        <div class="container">
			<div class="copyright"> &#169; Costa Rica Check in 2020 Derechos Reservados.</div>
            <div class="subfooter-lang">
                <div class="subfooter-show-lang"><span>Eng</span><i class="fa fa-caret-up"></i></div>
                <ul class="subfooter-lang-tooltip">
                    <li><a href="#">Dutch</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="subfooter-nav">
				<ul>
					<li><a href="/Nosotros/TerminosyCondiciones" target="_blank">Terminos y Condiciones</a></li>
					<li><a href="/Nosotros/PoliticasPrivacidad" target="_blank">Politicas de Privacidad</a></li>
					<li><a href="/Nosotros/PoliticasCancelacion" target="_blank">Politicas de Cancelacion</a></li>
				</ul>
            </div>
        </div>
    </div>
    <!--sub-footer end -->
</footer>
