﻿
<header class="main-header">
	<!-- header-top-->
	<div class="header-top fl-wrap">
		<div class="container">
			<div class="logo-holder">
				<a asp-controller="Home" asp-action="Index"><img src="/images/LogoCheckIn2.png" alt=""></a>
			</div>
			<a href="http://checkin.cr/" class="add-hotel" target="_blank">Agrega tu Hotel<span><i class="far fa-plus"></i></span></a>
			<div class="lang-wrap">
				<div class="show-lang"><img class="banderaSelect" src="/images/banderaCostarica.png" alt=""> <span>Es</span><i class="fa fa-caret-down"></i></div>
				<ul class="lang-tooltip green-bg">
					<li><a href="#"><img src="/images/lan/1.png" alt="">Eng</a></li>
				</ul>
			</div>
			@*<div class="currency-wrap">
					<div class="show-currency-tooltip"> <span>USD <i class="fa fa-caret-down"></i> </span></div>
					<ul class="currency-tooltip">
						<li><a href="#"><i class="far fa-euro-sign"></i> EUR</a></li>
						<li><a href="#"><i class="far fa-pound-sign"></i> GBP</a></li>
						<li><a href="#"><i class="far fa-ruble-sign"></i>RUR</a></li>
					</ul>
				</div>*@
		</div>
	</div>
	<!-- header-top end-->
	<!-- header-inner-->
	<div class="header-inner fl-wrap">
		<div class="container">
			<div class="show-search-button"><span>Buscar</span> <i class="fas fa-search"></i> </div>
			<div class="wishlist-link" onclick="ftnCorazon()"><i id="liCorazon"  class="fal fa-heart"></i><span class="wl_counter" id="contadorFavoritos">0</span></div>

			<div class="home-btn"><a asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i></a></div>
			<!-- nav-button-wrap-->
			<div class="nav-button-wrap color-bg">
				<div class="nav-button">
					<span></span><span></span><span></span>
				</div>
			</div>
			<!-- nav-button-wrap end-->
			<!--  navigation -->
			<div class="nav-holder main-menu">
				<nav>
					<ul>
						<li>
							<a asp-controller="Home" asp-action="index" class="act-link">Inicio</a>
						</li>
						<li>
							<a asp-controller="Hoteles" asp-action="index">Hoteles</a>
						</li>
						<li>
							<a asp-controller="Nosotros" asp-action="index">Nosotros</a>
						</li>
						<li>
							<a asp-controller="Nosotros" asp-action="Contacto">Contacto</a>
						</li>
						<li>
							<a asp-controller="Nosotros" asp-action="Blog">Pura vida</i></a>
						</li>
						<li>
							<a asp-controller="Nosotros" asp-action="FAQ">FAQ</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- navigation  end -->
			<!-- wishlist-wrap-->
			<div class="wishlist-wrap scrollbar-inner novis_wishlist" id="divFavoritos">
				<div class="box-widget-content">
					<div class="widget-posts fl-wrap">
						<ul id="ulFavoritos">
							<li class="clearfix">					 
								<div class="widget-posts-descr">
									<p>No hay favoritos</p>						 
								</div>
							</li> 
						</ul>
					</div>
				</div>
			</div>
			<!-- wishlist-wrap end-->
		</div>
	</div>
	<!-- header-inner end-->
	<!-- header-search -->
	<div class="header-search vis-search">
		<div class="container">
			<div class="row">
				<!-- header-search-input-item -->
				<div class="col-sm-4">
					<!--
	<div class="header-search-input-item fl-wrap location autocomplete-container">
					   <label>Destino</label>
					   <span class="header-search-input-item-icon"><i class="fal fa-map-marker-alt"></i></span>
					   <input type="text" placeholder="Locación" class="autocomplete-input" id="autocompleteid" value="" />
					   <a href="#"><i class="fal fa-dot-circle"></i></a>
				   </div>
					   -->
					<div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow ">
						<label>PROVINCIAS/COSTA RICA</label>
						<div class="listsearch-input-item">
							<select data-placeholder="City" class="chosen-select" id="provinciasSelectHeader">
								<option>Todas las provincias</option>
								<option value="San Jose">San Jose</option>
								<option value="Alajuela">Alajuela</option>
								<option value="Cartago">Cartago</option>
								<option value="Heredia">Heredia</option>
								<option value="Puntarenas">Puntarenas</option>
								<option value="Guanacaste">Guanacaste</option>
								<option value="Limon">Limón</option>
							</select>
						</div>
					</div>
				</div>
				<!-- header-search-input-item end -->
				<!-- header-search-input-item -->
				<div class="col-sm-3">
					<div class="header-search-input-item fl-wrap date-parent">
						<label>FECHA ENTRADA-SALIDA </label>
						<span class="header-search-input-item-icon"><i class="fal fa-calendar-check"></i></span>
						<input type="text" placeholder="Fechas" name="header-search" value="" autocomplete="off" />
					</div>
				</div>
				<!-- header-search-input-item end -->
				<!-- header-search-input-item -->
				<div class="col-sm-3">
					<div class="header-search-input-item fl-wrap">
						<div class="quantity-item">
							<label>HABITACIONES</label>
							<div class="quantity">
								<input type="number" min="1" max="3" step="1" value="1" id="habitacionbdheader">
							</div>
						</div>
						<div class="quantity-item">
							<label>ADULTOS</label>
							<div class="quantity">
								<input type="number" min="1" max="3" step="1" value="1" id="bqAdultoHeader">
							</div>
						</div>
						<div class="quantity-item">
							<label>NIÑOS</label>
							<div class="quantity">
								<input type="number" min="0" max="3" step="1" value="0" id="bqNinoheader">
							</div>
						</div>
					</div>
				</div>
				<!-- header-search-input-item end -->
				<!-- header-search-input-item -->
				<div class="col-sm-2">
					<div class="header-search-input-item fl-wrap">
						<button class="header-search-button" id="btnBuscarHeader" onclick="BuscarHotelHeader()">Buscar <i class="far fa-search"></i></button>
					</div>
				</div>
				<!-- header-search-input-item end -->
			</div>
		</div>
		<div class="close-header-search"><i class="fal fa-angle-double-up"></i></div>
	</div>
	<!-- header-search  end -->
</header>

	<script type="text/javascript"> 
		var openCorazon = false;

		window.onload = function () {
			ConteoFavoritos();
		};

		function ConteoFavoritos() {
			var hotelesAlmacenados = sessionStorage.getItem('HotelesFavoritos');	
			if (hotelesAlmacenados == null || hotelesAlmacenados == "") {
				$("#contadorFavoritos").html("0");				
				document.getElementById("divFavoritos").style.height = "140px";
			} else {
				var totalFavoritos = hotelesAlmacenados.split(";");
				$("#contadorFavoritos").html(totalFavoritos.length);
			}
		}


		function ftnCorazon() {
			var x = document.cookie;

			if (openCorazon == false) {				
				openCorazon = true;
				loadFavoritos();
			}
			else {
				openCorazon = false;				
			}
		}
		
		function Favorito(idHotel) {			
			infoHotel = $("#hotelInfo" + idHotel).val();
			console.log("Hotel Actula" + infoHotel);
			var hotelesAlmacenados = sessionStorage.getItem('HotelesFavoritos');		

			console.log("hoteles almacenados:" + hotelesAlmacenados);
			if (hotelesAlmacenados == null || hotelesAlmacenados == "") {				
				//document.cookie = infoHotel;
				sessionStorage.setItem('HotelesFavoritos', infoHotel)
				console.log("Primer Hotel agregado");
				Swal.fire({
					position: 'top-end',
					icon: 'success',
					title: 'Agregado a favoritos',
					showConfirmButton: false,
					timer: 1500
				})
			}
			else {
				//Verifico que exista para agregar o eliminar
				//La division de hoteles sera con ";"

				dataHotelActual = infoHotel.split("|");
				var encontrado = false;
				var infoCookie = hotelesAlmacenados;
				var Hoteles = infoCookie.split(";");
				for (var i = 0; i < Hoteles.length; i++) {
					console.log("hotel for" + Hoteles[i]);
					var datosHoteles = Hoteles[i].split("|"); 
					if (datosHoteles[0] == dataHotelActual[0]) {
						encontrado = true;
						console.log("Encontrado");
					}
				}
				if (encontrado == true) {
					//Elimino
					console.log("Elimino");
					console.log("totalhotels almacenados: " + Hoteles.length );

					var NuevoCookie = "";
					if (Hoteles.length > 1) {
						console.log("Entro al for");
						for (var i = 0; i < Hoteles.length; i++) {
							var datosHoteles = Hoteles[i].split("|");
							console.log(datosHoteles[0] + "---" + dataHotelActual[0])
							if (datosHoteles[0] != dataHotelActual[0]) {
								console.log("Almaceno");
								NuevoCookie = NuevoCookie + Hoteles[i] + ";";
							}
						}
						NuevoCookie = NuevoCookie.substring(0, (NuevoCookie.length - 1));
						//document.cookie = NuevoCookie;
						sessionStorage.setItem('HotelesFavoritos', NuevoCookie);
					}
					else {
						console.log("cooki en limpio");
						//document.cookie = "";
						sessionStorage.setItem('HotelesFavoritos',"");
					}
										
					Swal.fire({
						position: 'top-end',
						icon: 'warning',
						title: 'Eliminado de favoritos',
						showConfirmButton: false,
						timer: 1500
					})


				}
				else {
					//Agrego
					//document.cookie = document.cookie + ";" + infoHotel;
					sessionStorage.setItem('HotelesFavoritos', hotelesAlmacenados +";"+infoHotel);
					Swal.fire({
						position: 'top-end',
						icon: 'success',
						title: 'Agregado a favoritos',
						showConfirmButton: false,
						timer: 1500
					})
				}				
			}
			//sessionStorage.setItem('HotelesFavoritos', "");
			console.log("Cookie final:" + sessionStorage.getItem('HotelesFavoritos'));
			ConteoFavoritos();
			
		}

		function loadFavoritos() {
			var hotelesAlmacenados = sessionStorage.getItem('HotelesFavoritos');
			var html = "";
			if (hotelesAlmacenados == null || hotelesAlmacenados == "") {
				$("#ulFavoritos").html("<li class='clearfix'><div class='widget-posts-descr'><p>No hay favoritos</p></div></li> ");
				
			}
			else {

				var Hoteles = hotelesAlmacenados.split(";");
				

				for (var i = 0; i < Hoteles.length; i++) {
					var datosHoteles = Hoteles[i].split("|");
					var htmlEstrellitas = EstrellitasFavoritos(datosHoteles[6]);
					html = html + "<li class='clearfix'>" +
						"	<a href='/hoteles/single/" + datosHoteles[0] + "' class='widget-posts-img'><img class='imgFavoritos' src='" + datosHoteles[5] + "' class='respimg' alt=''></a>" +
						"	<div class='widget-posts-descr'>" +
						"		<div class='linkFavoritos'><a href='#' title=''>" + datosHoteles[3] + "</a></div>" +
						"		<div class='listing-rating card-popup-rainingvis' data-starrating2='" + datosHoteles[6] + "'>" + htmlEstrellitas + "</div>" +
						"		<div class='geodir-category-location fl-wrap'><a href='#'><i class='fas fa-map-marker-alt'></i>" + datosHoteles[4] + "</a></div>" +
						"		<span class='rooms-price'>" + datosHoteles[7] + " <strong> /  Noche</strong></span>" +
						"	</div>" +
						"</li>";
				}
				$("#ulFavoritos").html(html);
				var heightDiv = 110 * Hoteles.length;
				document.getElementById("divFavoritos").style.height = heightDiv + "px";

			}
		}

		function EstrellitasFavoritos(totalEStrellas) {
			html = "";
			for (var i = 0; i < totalEStrellas; i++) {
				html = html + "<i class='fa fa-star'></i>";				
			}
			return html;
		}


		function NavegarHotelesFiltrado(fechaBusqueda, adultos, ninos, destino, habitaciones, provincia) {			
			window.location.href = "/Hoteles/index?fechasBusqueda=" + fechaBusqueda + "&adultos=" + adultos + "&ninos=" + ninos + "&destino=" + "" + "&habitaciones=" + habitaciones + "&provincia=" + provincia;


			/*
			const form = document.createElement('form');
			form.method = "post";
			form.action = "/Hoteles/index";

			const hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = "fechasBusqueda";
			hiddenField.value = fechaBusqueda;

			form.appendChild(hiddenField);


			document.body.appendChild(form);
			form.submit();  */


		}


	 
		function BuscarHotelHeader() {			
			var fechas = $(".header-search-input-item .drp-selected").html();

			var adultos = $("#bqAdultoHeader").val();
			var ninos = $("#bqNinoheader").val();
			var habitaciones = $("#habitacionbdheader").val();

			//var destino = $(".header-search-input-item #autocompleteid").val();
			var destino = ""; 
			var pronvincia = $("#provinciasSelectHeader").val();

			if (fechas != "") {
				NavegarHotelesFiltrado(fechas, adultos, ninos, destino, habitaciones, pronvincia);
			}			 
		}



	</script>

 