﻿ @*  @model HotelCostaRicaCore.Web.ViewModels.VMHome; *@   

<style>
    #sec2 {
        padding: 0px;
    }
</style>
<div id="wrapper">
    <!-- content-->
    <div class="content">


        <!--section -->
        <section class="hero-section" data-scrollax-parent="true" id="sec1">
            <div class="hero-parallax">
                <div class="bg" data-bg="/images/xImg/Foto1SliderInicio.png" data-scrollax="properties: { translateY: '200px' }"></div>
                <div class="overlay op7"></div>
            </div>
            <div class="hero-section-wrap fl-wrap">
                <div class="container">
                    <div class="home-intro">
                        <div class="section-title-separator"><span></span></div>
                        <h2>Visitá un país que es todo un sueño conocer</h2>
                        <span class="section-separator"></span>
                        <h3>Reservá aquí el hotel de tu próximo viaje.</h3>
                    </div>
                    <div class="main-search-input-wrap">
                        <div class="main-search-input fl-wrap">
							<div class="main-search-input-item location" id="autocomplete-container" >							 
								<!-- <input type="text" placeholder="Destino" class="autocomplete-input" id="autocompleteid2" value="" /> -->
								<div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow sltPronvicinasBuscador" style="margin-top:2px;" >									
									<div class="listsearch-input-item">
										<select data-placeholder="City" class="chosen-select" id="provinciasSelectHome">
											<option>Todas las provincias</option>
											<option value="San Jose">San Jose</option>
											<option value="Alajuela">Alajuela</option>
											<option value="Cartago">Cartago</option>
											<option value="Heredia">Heredia</option>
											<option value="Puntarenas">Puntarenas</option>
											<option value="Guanacaste">Guanacaste</option>
											<option value="Limon">Limón</option>
										</select>
									</div>
								</div>

								<!-- <a href="#"><i class="fal fa-dot-circle"></i></a> -->

							</div>
                            <div class="main-search-input-item main-date-parent main-search-input-item_small">
                                <span class="inpt_dec"><i class="fal fa-calendar-check"></i></span> <input type="text" placeholder="Fechas" name="main-input-search" value="" autocomplete="off" />
                            </div>
                            <div class="main-search-input-item">
                                <div class="qty-dropdown fl-wrap">
                                    <div class="qty-dropdown-header fl-wrap"><i class="fal fa-users"></i>Personas</div>
                                    <div class="qty-dropdown-content fl-wrap">
                                        <div class="quantity-item">
                                            <label><i class="fas fa-male"></i> Adultos</label>
                                            <div class="quantity">
                                                <input type="number" min="1" max="3" step="1" value="1" id="bqAdultoHome">
                                            </div>
                                        </div>
                                        <div class="quantity-item">
                                            <label><i class="fas fa-child"></i>Niños</label>
                                            <div class="quantity">
                                                <input type="number" min="0" max="3" step="1" value="0" id="bqNinoHome">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="main-search-button color2-bg" onclick="BuscarHotelHome()">Buscar <i class="fal fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec2" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
            </div>
        </section>
        <!-- section end -->

        <section class="section-publicidad">
            <div class="container">
                <img src="/images/xImg/bannercclg.png" />
            </div>
        </section>

        <!--section -->
        <section id="sec2">
            <div class="container">
                <div class="section-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2>Explorá Costa Rica</h2>
                    <span class="section-separator"></span>
                    <p>Aventurate a conocer cada rincón de Costa Rica.</p>
                </div>
            </div>
            <!-- portfolio start -->
            <div class="gallery-items fl-wrap mr-bot spad home-grid home-galeria1 ">
                @if (ViewBag.HotelesExplora != null)
                {
                    //for(var i=0; i < Enumerable.Count(ViewBag.Hoteles); i++)
                    foreach (var Hotel in ViewBag.HotelesExplora)
                    {
                        <!-- gallery-item-->
                        <div class="gallery-item">
                            <div class="grid-item-holder">
                                <!-- listing-item  -->
                                <div class="listing-item-grid hotel-card">
                                    <article class="geodir-category-listing fl-wrap">
										<div class="geodir-category-img card-post contCardImg">
											<a href="/hoteles/single/@Hotel.CodHotel"><img src="@Hotel.BannerFullPath" alt=""></a>
											<div class="listing-counter">Noche/Desde <strong>@string.Format("{0:C}", Hotel.PrecioPromedio)</strong></div>
											<!-- <div class="sale-window">Ahorrá @(Hotel.PorcentajeDescuento)%</div>  -->
										<div class="sale-window" style="display:@Hotel.DesayunoIncluido">Desayuno incluido</div>
											<div class="geodir-category-opt">
												<div class="listing-rating card-popup-rainingvis" data-starrating2="@Hotel.Estrellas"></div>
												<h4 class="title-sin_map"><a href="/hoteles/single/@Hotel.CodHotel">@Hotel.Nombre</a></h4>
												<div class="geodir-category-location"><a href="#" class="single-map-item" data-newlatitude="@Hotel.Latitud" data-newlongitude="@Hotel.Longitud"><i class="fas fa-map-marker-alt"></i>@Hotel.Direccion</a></div>
												<div class="rate-class-name">
													<div class="score"><strong>@Hotel.Leyenda</strong>@Hotel.CantidadCalificaciones Reseñas </div>
													<span> @Hotel.Calificacion.ToString("0.0")</span>
												</div>
											</div>
										</div>
                                    </article>
                                </div>
                                <!-- listing-item end -->
                            </div>
                        </div>
                        <!-- gallery-item end-->
                    }
                }

            </div>
            <!-- portfolio end -->
            <a href="/Hoteles" class="btn    color-bg">Ver Más Hoteles<i class="fas fa-caret-right"></i></a>
        </section>
        <!-- section end -->
        <!--section -->
        <section>
            <div class="container">
                <div class="section-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2>¿Por Qué Nosotros?</h2>
                    <span class="section-separator"></span>
                    <p>Trabajamos de cerca todos los días con los hoteles de Costa Rica para poder brindarte los mejores destinos, servicios y beneficios.</p>
                </div>
                <!-- -->
                <div class="row rowWhyUs">
                    <div class="col-md-4">
                        <!-- process-item-->
                        <div class="process-item big-pad-pr-item">
                            <span class="process-count"> </span>
                            <div class="time-line-icon"><i class="fal fa-headset"></i></div>
                            <h4><a href="#">Servicio Al Cliente</a></h4>
                            <p>No importa si acabás de reservar o si ya estás en el destino: nuestro equipo de asistencia está para ayudarte en cada paso.</p>
                        </div>
                        <!-- process-item end -->
                    </div>
                    <div class="col-md-4">
                        <!-- process-item-->
                        <div class="process-item big-pad-pr-item">
                            <span class="process-count"> </span>
                            <div class="time-line-icon"><i class="fal fa-gift"></i></div>
                            <h4> <a href="#">Total Seguridad En Pagos</a></h4>
                            <p>Todos los días procesamos cientos de transacciones a través de nuestra plataforma que trabaja con los mayores estándares de seguridad para garantizar tu privacidad.</p>
                        </div>
                        <!-- process-item end -->
                    </div>
                    <div class="col-md-4">
                        <!-- process-item-->
                        <div class="process-item big-pad-pr-item nodecpre">
                            <span class="process-count"> </span>
                            <div class="time-line-icon"><i class="fal fa-credit-card"></i></div>
                            <h4><a href="#">Trabajamos Por Costa Rica</a></h4>
                            <p>Nuestro compromiso es poder brindar todas las facilidades para que la mayor cantidad de personas puedan visitar los maravillosos destinos destruidos por todo nuestro país.</p>
                        </div>
                        <!-- process-item end -->
                    </div>
                </div>
                <!--process-wrap   end-->
                <div class=" single-facts fl-wrap mar-top">
                    <!-- inline-facts -->
                    <div class="contadorHome inline-facts-wrap">
                        <div class="inline-facts">
                            <i class="fal fa-users"></i>
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="114">114</div>
                                </div>
                            </div>
                            <h6>Reservaciones Diarias</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="contadorHome inline-facts-wrap">
                        <div class="inline-facts">
                            <i class="fal fa-thumbs-up"></i>
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="3576">3576</div>
                                </div>
                            </div>
                            <h6>Clientes Satisfechos</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="contadorHome inline-facts-wrap">
                        <div class="inline-facts">
                            <i class="fal fa-award"></i>
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="7">7</div>
                                </div>
                            </div>
                            <h6>Certificaciones</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                </div>
            </div>
        </section>
        <!-- section end -->
        <!--section -->
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg" data-bg="/images/xImg/FotoInicioHotelesPopulares.png" data-scrollax="properties: { translateY: '100px' }"></div>
            <div class="overlay op7"></div>
            <!--container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="colomn-text fl-wrap pad-top-column-text_small">
                            <div class="colomn-text-title">
                                <h3>Los Más Populares</h3>
                                <p>Te brindamos las mejores opciones para que podás vivir una experiencia “Pura Vida”.</p>
                                <a href="\Hoteles" class="btn  color2-bg float-btn btnMostPopular">Ver Más<i class="fas fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!--light-carousel-wrap-->
                        <div class="light-carousel-wrap fl-wrap">
                            <!--light-carousel-->
                            <div class="light-carousel">

                                @if (ViewBag.HotelesPopulares != null)
                                {
                                    //for(var i=0; i < Enumerable.Count(ViewBag.Hoteles); i++)
                                    foreach (var Hotel in ViewBag.HotelesPopulares)
                                    {
                                        <!--slick-slide-item-->
                                        <div class="slick-slide-item">
                                            <div class="hotel-card fl-wrap title-sin_item">
												<div class="geodir-category-img contCardImgPopulares">
													<a href="/hoteles/single/@Hotel.CodHotel"><img src="@Hotel.BannerFullPath" alt=""></a>
													<div class="listing-counter">Noche/Desde <strong>@string.Format("{0:C}", Hotel.PrecioPromedio)</strong></div>
													<!-- <div class="sale-window">Ahorrá @(Hotel.PorcentajeDescuento)%</div>  -->
												<div class="sale-window" style="display:@Hotel.DesayunoIncluido"  >Desayuno incluido</div>
													<div class="geodir-category-opt">
														<div class="listing-rating card-popup-rainingvis" data-starrating2="@Hotel.Estrellas"></div>
														<h4 class="title-sin_map"><a href="/hoteles/single/@Hotel.CodHotel">@Hotel.Nombre</a></h4>
														<div class="geodir-category-location"><a href="#" class="single-map-item" data-newlatitude="40.76221766" data-newlongitude="-73.96511769"><i class="fas fa-map-marker-alt"></i>@Hotel.Direccion</a></div>
														<div class="rate-class-name">
															<div class="score"><strong>@Hotel.Leyenda</strong>@Hotel.CantidadCalificaciones Reseñas </div>
															<span>@Hotel.Calificacion.ToString("0.0")</span>
														</div>
													</div>
												</div>
                                            </div>
                                        </div>
                                        <!--slick-slide-item end-->
                                    }
                                }


                            </div>
                            <!--light-carousel end-->
                            <div class="fc-cont  lc-prev"><i class="fal fa-angle-left"></i></div>
                            <div class="fc-cont  lc-next"><i class="fal fa-angle-right"></i></div>
                        </div>
                        <!--light-carousel-wrap end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <!-- section-->
        <section class="grey-blue-bg">
            <!-- container-->
            <div class="container">
                <div class="section-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2>Agregados Recientemente</h2>
                    <span class="section-separator"></span>
                    <p>Encontrá hospedajes únicos en destinos diferentes.</p>
                </div>
            </div>
            <!-- container end-->
            <!-- carousel -->
            <div class="list-carousel fl-wrap card-listing carouserRecientes ">
                <!--listing-carousel-->
                <div class="listing-carousel  fl-wrap ">
                    @if (ViewBag.HotelesRecientes != null && ViewBag.HotelesRecientes.Count > 0)
                    {
                        //for(var i=0; i < Enumerable.Count(ViewBag.Hoteles); i++)
                        foreach (var Hotel in ViewBag.HotelesRecientes)
                        {
                            <!--slick-slide-item-->
                            <div class="slick-slide-item">
                                <!-- listing-item  -->
                                <div class="listing-item">
                                    <article class="geodir-category-listing fl-wrap">
										<div class="geodir-category-img contCardImgRecientes">
											<a href="/hoteles/single/@Hotel.CodHotel"><img src="@Hotel.BannerFullPath" alt=""></a>
											<!-- <div class="sale-window big-sale">Ahorrá @(Hotel.PorcentajeDescuento)%</div>  -->
										<div class="sale-window big-sale" style="display:@Hotel.DesayunoIncluido" >Desayuno incluido</div>
											<div class="geodir-category-opt">
												<div class="listing-rating card-popup-rainingvis" data-starrating2="@Hotel.Estrellas"></div>
												<div class="rate-class-name">
													<div class="score"><strong>@Hotel.Leyenda</strong>@Hotel.CantidadCalificaciones  Reseñas </div>
													<span>@Hotel.Calificacion.ToString("0.0")</span>
												</div>
											</div>
										</div>
                                        <div class="geodir-category-content fl-wrap title-sin_item">
                                            <div class="geodir-category-content-title fl-wrap">
                                                <div class="geodir-category-content-title-item">
                                                    <h3 class="title-sin_map"><a href="/hoteles/single/@Hotel.CodHotel">@Hotel.Nombre</a></h3>
                                                    <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i class="fas fa-map-marker-alt"></i>@Hotel.Direccion</a></div>
                                                </div>
                                            </div>
                                            <p class="descripcionHotel">@Hotel.DescripcionCorta</p>
                                            <ul class="facilities-list fl-wrap">
                                                @foreach (var servicio in Hotel.HotelesServicios)
                                                {
                                                    <li><img src="@servicio.IconoFullPath" class="facilidadesIcono" /><span>@servicio.NomServicio</span></li>
                                                    <!-- <li><img src="@servicio.IconoFullPath" width="20px" /><span>Free WiFi</span></li>
                                                     <li><i class="fal fa-wifi"></i><span>Free WiFi</span></li>
                                                    -->
                                                }
                                            </ul>
                                            <div class="geodir-category-footer fl-wrap">
                                                <div class="geodir-opt-link">
                                                    <div class="geodir-category-price">Noche/Desde <span>@string.Format("{0:C}", Hotel.PrecioPromedio)</span></div>
                                                </div>
												<div class="geodir-opt-list">
													<a href="#" class="single-map-item" data-newlatitude="@Hotel.Latitud" data-newlongitude="@Hotel.Longitud"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">Ver Mapa</span></a>
													<a href="javascript:;" onclick="Favorito(@Hotel.CodHotel)" class="geodir-js-favorite"><i class="fal fa-heart"></i><span class="geodir-opt-tooltip">Guardar</span></a>
													<a href="#" class="geodir-js-booking"><i class="fal fa-exchange"></i><span class="geodir-opt-tooltip">Buscar Direcciones</span></a>
													<input type="hidden" id="hotelInfo@(Hotel.CodHotel)" name="locaciones" value="@(Hotel.CodHotel +"|"+ Hotel.Latitud +"|" + Hotel.Longitud +"|" + Hotel.Nombre +"|" + Hotel.Direccion + "|" + @Hotel.BannerFullPath + "|"+ @Hotel.Estrellas + "|" + string.Format("{0:C}", Hotel.PrecioPromedio)  )" />
												</div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- listing-item end -->
                            </div>
                            <!--slick-slide-item end-->
                        }
                    }

                </div>
                <!--listing-carousel end-->
                <!--listing-carousel end-->
                <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
                <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
            </div>
            <!--  carousel end-->
        </section>
        <!-- section end -->
        <!--section -->
        <section>
            <partial name="/Views/Shared/_ComentariosPersonas.cshtml">
        </section>
        <!-- section end -->
        <!-- section end-->
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg" data-bg="/images/xImg/FotonewsletterInicio.png" data-scrollax="properties: { translateY: '100px' }"></div>
            <div class="overlay"></div>
            <!--container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- column text-->
                        <div class="colomn-text fl-wrap">
                            <div class="colomn-text-title">
                                <h3>¿Tenés tu propio hotel?</h3>
                                <p>Conocé todos los beneficios que tenemos para tu negocio, dejá tus datos y muy pronto te contactaremos.</p>
                                <a href="http://checkin.cr/" target="_blank" class="btn  color-bg float-btn btnNewsLetter">Contactar<i class="fal fa-caret-right"></i></a>
                            </div>
                        </div>
                        <!--column text   end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <!--section -->
        <section class=" middle-padding">
            <div class="container">
                <div class="section-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2>Pura Vida Blog</h2>
                    <span class="section-separator"></span>
                    <p>Consejos, recomendaciones, historias y destinos son algunas de las cosas que podrás encontrar para preparar tu próximo viaje.</p>
                </div>
				<div class="row home-posts  blogInicio">


					@if (ViewBag.BlogsFooter != null)
					{

						@foreach (var Articulo in ViewBag.BlogsFooter)
						{
					        <div class="col-md-4">
						        <article class="card-post">
							        <div class="card-post-img fl-wrap">
								        <a href="/Nosotros/InternaBlog/@Articulo.idBlog"><img class="imgheader" src="@(Articulo.ImageFullPath)" alt=""></a>
							        </div>
							        <div class="card-post-content fl-wrap">
								        <h3><a href="/Nosotros/InternaBlog/@Articulo.idBlog">@Html.Raw(Articulo.Titulo)</a></h3>

								        <p class="multi-line-truncate contenidoArticuloHome">@Html.Raw(Articulo.Descripcion)</p>
								        <div class="post-author"><a href="#"><img src="~/images/Banderas/costarica.png" alt=""><span>Por , @Articulo.Usuario</span></a></div>
								        <div class="post-opt">
									        <ul>
										        <li><i class="fal fa-calendar"></i> <span>@Articulo.Fecha.ToString("dd MMMM yyyy") </span></li>
										        <li><i class="fal fa-eye"></i> <span>@Articulo.Vistas</span></li>
										        <li><i class="fal fa-tags"></i> <a href="#">Diseño</a>  </li>
									        </ul>
								        </div>
							        </div>
						        </article>
					        </div>
						}
					}

 


				</div>
                <a href="/Nosotros/Blog" class="btn    color-bg ">Ver Más<i class="fas fa-caret-right"></i></a>
            </div>
            <div class="section-decor"></div>
        </section>
    </div>
    <!-- content end-->
</div>

<script>
	//document.cookie = "username=John Doe";

    function BuscarHotelHome() {               
        var fechas = $("#sec1 .drp-selected").html();
		var adultos = $("#bqAdultoHome").val();
        var ninos = $("#bqNinoHome").val();
        //var destino = $("#sec1 #autocompleteid2").val(); 
        var destino =""; 
        var pronvincia = $("#sec1 #provinciasSelectHome").val();
        
        if (fechas != "") {
			NavegarHotelesFiltrado(fechas, adultos, ninos, destino, 1, pronvincia); 
		}
	}

</script>