﻿            <!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="color-bg middle-padding ">
			<div class="wave-bg wave-bg2"></div>
			<div class="container">
				<div class="flat-title-wrap">
					<h2><span>Nuestras Noticias</span></h2>
					<span class="section-separator"></span>
					<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
				</div>
			</div>
		</section>
		<!--  section  end-->
		<div class="breadcrumbs-fs fl-wrap">
			<div class="container">
				<div class="breadcrumbs fl-wrap"><a href="#">Inicio</a><a href="#">Blog</a><span>Blog Clasico</span></div>
			</div>
		</div>
		<!-- section-->
		<section id="sec1" class="middle-padding grey-blue-bg">
			<div class="container">
				<div class="row">
					<!--blog content -->
					<div class="col-md-8">
						<!--post-container -->
						<div class="post-container fl-wrap articulosBlog">

							@foreach (var articulo in ViewBag.Blogs)
							{
								<!-- article> -->
								<article class="post-article">
									<div class="list-single-main-media fl-wrap">
										<img src="@articulo.ImageFullPath" class="respimg" alt="">
									</div>
									<div class="list-single-main-item fl-wrap">
										<div class="list-single-main-item-title fl-wrap">
											<h3><a href="/Nosotros/InternaBlog/@(articulo.idBlog)">@Html.Raw(articulo.Titulo)</a></h3>
										</div>
										<div class="contenidoBlog">
											@Html.Raw(articulo.Descripcion)
										</div>
										<div class="post-author"><a href="#"><img src="~/images/Banderas/costarica.png" alt=""><span>Por , @articulo.Usuario</span></a></div>
										<div class="post-opt">
											<ul>
												<li><i class="fal fa-calendar"></i> <span>@articulo.Fecha.ToString("dd MMMM yyyy") </span></li>
												<li><i class="fal fa-eye"></i> <span>@articulo.Vistas</span></li>
												<li>
													<i class="fal fa-tags"></i>
													<a href="#">Fotografía</a> , <a href="#">Diseño</a>
												</li>
											</ul>
										</div>
										<span class="fw-separator"></span>
										<div class="list-single-main-item-title fl-wrap">
											<h3>Tags</h3>
										</div>
										<div class="list-single-tags tags-stylwrap blog-tags">
											@if (articulo.ListTags != null && articulo.ListTags.Count > 0)
											{
												foreach (var Tag in articulo.ListTags)
												{
													<a href="#">@Tag</a>
												}
											}
										</div>
										<span class="fw-separator"></span>
										<a href="/Nosotros/InternaBlog/@(articulo.idBlog)" class="btn  float-btn color-bg">Leer más<i class="fal fa-angle-right"></i></a>
									</div>
								</article>
								<!-- article end -->

							}



							<!-- pagination-->
							<div class="pagination" id="pagination">
								<a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
								<a href="#">1</a>
								<a href="#" class="current-page">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
							</div>
							<!-- pagination end-->
						</div>
						<!--post-container end -->
					</div>
					<!-- blog content end -->
					<!--   sidebar  -->
					<div class="col-md-4">
						<!--box-widget-wrap -->
						<div class="box-widget-wrap fl-wrap fixed-bar">
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3> Buscar en el Blog </h3>
										</div>
										<div class="search-widget">
											<form action="#" class="fl-wrap">
												<input name="se" id="se" type="text" class="search" placeholder="Buscar.." />
												<button class="search-submit color2-bg" id="submit_btn"><i class="fa fa-search transition"></i> </button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget counter-widget" data-countDate="09/12/2019">
									<div class="banner-wdget fl-wrap">
										@*<div class="overlay"></div>*@
										<div class="bg" data-bg="/images/bannercc.png"></div>
										<div class="banner-wdget-content fl-wrap" style="opacity:0; user-select:none">
											<h4>Get a discount <span>20%</span> when ordering a room from three days.</h4>
											<div class="countdown fl-wrap">
												<div class="countdown-item">
													<span class="days rot">00</span>
													<p>days</p>
												</div>
												<div class="countdown-item">
													<span class="hours rot">00</span>
													<p>hours </p>
												</div>
												<div class="countdown-item">
													<span class="minutes rot">00</span>
													<p>minutes </p>
												</div>
												<div class="countdown-item">
													<span class="seconds rot">00</span>
													<p>seconds</p>
												</div>
											</div>
											<a href="#">Book Now</a>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget widget-posts">
									<div class="box-widget-content MasArticulos">
										<div class="box-widget-item-header">
											<h3>Más Articulos</h3>
										</div>
										@foreach (var articuloSideBar in ViewBag.MasArticulos)
										{
											<!--box-image-widget-->
											<div class="box-image-widget">
												<div class="box-image-widget-media">
													<img src="@articuloSideBar.DirImage" alt="">
													<a href="/Nosotros/InternaBlog/@(articuloSideBar.idBlog)" class="color-bg">Leer</a>
												</div>
												<div class="box-image-widget-details">
													<h4>@Html.Raw(articuloSideBar.Titulo) </h4>
													<p class="multi-line-truncate contenidoArticulo">@Html.Raw(articuloSideBar.ContenidoHome)</p>
													<span class="widget-posts-date"><i class="fal fa-calendar"></i>@articuloSideBar.FechaArticulo</span>
												</div>
											</div>
											<!--box-image-widget end -->
										}
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3>Nuestro Instagram</h3>
										</div>
										<div class="jr-insta-thumb">
											<ul>
												<li>
													<a href="#"><img src="~/images/ximgHome/8-1.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/8-2.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/9.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/2-3.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/2-4.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/2-5.jpg" alt=""></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3> Categorias</h3>
										</div>
										<ul class="cat-item">
											<li><a href="#">Estandar</a> <span>3</span></li>
											<li><a href="#">Video</a> <span>6 </span></li>
											<li><a href="#">Galeria</a> <span>12 </span></li>
											<li><a href="#">Citas</a> <span>4</span></li>
										</ul>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
						</div>
						<!--box-widget-wrap end -->
					</div>
					<!--   sidebar end  -->
				</div>
			</div>
			<div class="limit-box fl-wrap"></div>
		</section>
		<!-- section end -->
	</div>
	<!-- content end-->
</div>
<!--wrapper end -->

<input type="hidden" id="totalblogs" name="totalblogs" value="@ViewBag.totalblogs" />
<input type="hidden" id="paginaActual" name="paginaActual" value="@ViewBag.NumPagina" />
<input type="hidden" id="blogsPorPagina" name="blogsPorPagina" value="@ViewBag.blogsPorPagina" />




@section Scripts{
<script>
	$(document).ready(function () {
		var totalblogs = $("#totalblogs").val();
		var NumPagina = $("#paginaActual").val();
		var blogsPorPagina = $("#blogsPorPagina").val();
		Paginacion(NumPagina, totalblogs, blogsPorPagina);
	});


	function Paginacion(NumPagina, totalblogs, blogsPorPagina) {
		var htmlPaginacion = "";


		//if (DataHoteles.length > 0) {
		if (totalblogs > 0) {

			var totalPaginas = Math.ceil(totalblogs / blogsPorPagina);

			if (NumPagina == 1) {
				htmlPaginacion = htmlPaginacion + "<a href='javascript:;' class='prevposts-link'><i class='fa fa-caret-left'></i></a>";
			}
			else {
				htmlPaginacion = htmlPaginacion + "<a href='/Nosotros/Blog/" + (NumPagina - 1)  + "' class='prevposts-link'><i class='fa fa-caret-left'></i></a>";
			}


			for (var i = 1; i <= totalPaginas; i++) {
				var PaginaActual = (i == NumPagina) ? "class='current-page'" : "";
				pag = "<a href='/Nosotros/Blog/" + i + "' " + PaginaActual +" >" + i + "</a>";
				htmlPaginacion = htmlPaginacion + pag;
			}

			if (NumPagina == totalPaginas) {
				htmlPaginacion = htmlPaginacion + "<a href='javascript:;' class='nextposts-link'><i class='fa fa-caret-right'></i></a>";
			}
			else {
				console.log(NumPagina);
				//htmlPaginacion = htmlPaginacion + "<a  onclick='MostrarHoteles(" + (NumPagina + 1) + ")'  class='nextposts-link'><i class='fa fa-caret-right'></i></a>";
				htmlPaginacion = htmlPaginacion + "<a  href='/Nosotros/Blog/" + (parseInt(NumPagina) + 1) +"'  class='nextposts-link'><i class='fa fa-caret-right'></i></a>";
			}

			$("#pagination").html(htmlPaginacion);

		}
		else {
			$("#pagination").html("");
		}

	}

</script>
}