﻿<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!-- map-view-wrap -->
		<div class="map-view-wrap">
			<div class="container">
				<div class="map-view-wrap_item">
					<div class="list-single-main-item-title fl-wrap">
						<h3>Contacto</h3>
					</div>
					<div class="box-widget-list mar-top">
						<ul>
							<li><span><i class="fal fa-map-marker"></i> Dirección :</span> <a href="#">San José, Pozos de Santa Ana</a></li>
							<li><span><i class="fal fa-phone"></i> Teléfono :</span> <a href="#">(506) 2203-0500</a></li>
							<li><span><i class="fal fa-envelope"></i> Email :</span> <a href="#">Soporte@costaricacheckin.com</a></li>
							<li><span><i class="fal fa-browser"></i> Website :</span> <a href="#">www.costaricacheckin.com</a></li>
						</ul>
					</div>
					<div class="list-widget-social">
						<ul>
							<li><a href="https://www.facebook.com/CostaRicaCheckIn/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.instagram.com/costarica_checkin" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--map-view-wrap end -->
		<!-- Map -->
		<div class="map-container fw-map2">
			<div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
		</div>
		<!-- Map end -->
		<div class="breadcrumbs-fs fl-wrap">
			<div class="container">
				<div class="breadcrumbs fl-wrap"><a href="#">Inicio</a><a href="#">Paginas</a><span>Contacto</span></div>
			</div>
		</div>
		<section id="sec1" class="grey-b lue-bg middle-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap">
							<div class="list-single-main-item-title fl-wrap">
								<h3>Nosotros </h3>
							</div>
							<div class="list-single-main-media fl-wrap">
								<img src="~/images/xImg/FotoNosotros.png" alt="" class="respimg">
							</div>
							<p>En CostaRicacheckin.com nuestro objetivo es velar por el turismo local y mostrarle al mundo lo privilegiados que somos al nacer en un país que puede ser pequeño en extensión pero con grandes sorpresas en cada rincón. </p>
						</div>
						<!--   list-single-main-item end -->
					</div>
					<div class="col-md-8">
						<div class="list-single-main-item fl-wrap">
							<div class="list-single-main-item-title fl-wrap">
								<h3>Ponerse en contacto</h3>
							</div>
							<div id="contact-form">
								<div id="message"></div>
								<form class="custom-form" action="#" name="contactform" id="contactform">
									<fieldset>
										<label><i class="fal fa-user"></i></label>
										<input type="text" name="name" id="name" placeholder="Nombre *" value="" required/>
										<div class="clearfix"></div>
										<label><i class="fal fa-envelope"></i>  </label>
										<input type="text" name="email" id="email" placeholder="Correo Electronico*" value="" required/>

										<textarea name="comments" id="comments" cols="40" rows="3" placeholder="Mensaje:" required></textarea>
									</fieldset>
									<button class="btn float-btn color2-bg" style="margin-top:15px;" id="btnEnviarCorreo"  > Enviar Mensaje<i class="fal fa-angle-right"></i></button>
								</form>
							</div>
							<!-- contact form  end-->
						</div>
					</div>
				</div>
			</div>
			<div class="section-decor"></div>
		</section>
		<section class="section-publicidad">
			<div class="container">
				<img src="~/images/xImg/bannercclg.png" />
			</div>
		</section>
		<!-- section end -->
	</div>
	<!-- content end-->
</div>
<!--wrapper end -->


@section Scripts{	
	<partial name="_ValidationScriptsPartial" />
	<script>


		$("#btnEnviarCorreo").click(function (e)
		{

			e.preventDefault();
			if (!$('#contactform').valid()) {
                Swal.fire({
				    icon: 'warning',
                    text: 'Debe completar el formulario',
                    customClass: {
                        confirmButton: 'BtnMirarOpciones',
                    }
			    });
			    return false;
			}

            var data = {
                NomCliente: $("#name").val(),
                Email: $("#email").val(),
				Mensaje: $("#comments").val()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("EnviarCorreo", "Nosotros")",
                data: { data: data },
				success: function (data) {
                    if (data.IsSuccess == true) {
                        Swal.fire({
                            icon: 'success',
                            title: '¡Completado!',
                            text: 'El mensaje fue enviado correctamente',
                            customClass: {
                                confirmButton: 'BtnMirarOpciones',
                            }
			            });
                        limpiarFormulario();
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'No se pudo enviar el mensaje',
                            customClass: {
                                confirmButton: 'BtnMirarOpciones',
                            }
			            });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: 'No se pudo enviar el mensaje',
                        customClass: {
                            confirmButton: 'BtnMirarOpciones',
                        }
			        });
				},
				beforeSend: function () {
                    Swal.fire({
	                     allowOutsideClick: false,
	                     showConfirmButton: false,
	                     showClass: {
		                    popup: 'animated fadeIn faster'
	                      },
	                     customClass: {
				                    container: 'sweetLoadingcontent'
			                      },
	                    html:"<div class='animacionJson'><lottie-player src='/js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                    "</lottie-player></div>"
                    });
				}
            });

		});
				

		function limpiarFormulario() {
			$('#contactform')[0].reset();
		}
	</script>
}

