﻿<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="parallax-section single-par" data-scrollax-parent="true">
			<div class="bg par-elem " data-bg="/images/xImg/FotoFAQS.png" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="overlay"></div>
			<div class="container">
				<div class="section-title center-align big-title">
					<div class="section-title-separator"><span></span></div>
					<h2><span>Estamos para ayudarte</span></h2>
					<span class="section-separator"></span>
					<h4>Mira algunas de las consultas más populares.</h4>
				</div>
			</div>
			<div class="header-sec-link">
				<div class="container"><a href="#sec1" class="custom-scroll-link color-bg btnDownFaq"><i class="fal fa-angle-double-down"></i></a></div>
			</div>
		</section>
		<!--  section  end-->
		<div class="breadcrumbs-fs fl-wrap">
			<div class="container">
				<div class="breadcrumbs fl-wrap"><a href="#">Inicio</a><a href="#">Listado</a><span>Centro de Ayuda</span></div>
			</div>
		</div>
		<!--  section  -->
		<section class="grey-blue-bg middle-padding" id="sec1">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box-widget-item fl-wrap help-bar">
							<div class="box-widget">
								<div class="box-widget-content">
									<div class="box-widget-item-header">
										<h3> Preguntas frecuentes</h3>
									</div>
									<div class="faq-nav fl-wrap">
										<ul>
											<li><a class="custom-scroll-link act-faq-link" href="#faq1">¿Puedo cancelar o modificar una reserva de hotel? </a></li>
											<li><a class="custom-scroll-link" href="#faq2">¿Qué gastos puede generar una cancelación o modificación de reserva?</a></li>
											<li><a class="custom-scroll-link" href="#faq3">¿Debo dar mi número de tarjeta de crédito para hacer una reserva en línea? ¿Es seguro?</a></li>
											<li><a class="custom-scroll-link" href="#faq4">¿Puedo realizar reservas para el mismo día?</a></li>
											<li><a class="custom-scroll-link" href="#faq5">¿Cómo puedo notificar al hotel que llegaré después de la hora de check in?</a></li>
											<li><a class="custom-scroll-link" href="#faq6">¿Cómo sé si mi reserva de hotel se ha confirmado con éxito?</a></li>
											<li><a class="custom-scroll-link" href="#faq7">¿Cómo puedo pagar una reserva de hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq8">¿Tengo que añadir a los niños o bebés en la reserva?</a></li>
											<li><a class="custom-scroll-link" href="#faq9">¿Cuáles son las condiciones generales en las reservas de hoteles?</a></li>
											<li><a class="custom-scroll-link" href="#faq10">¿Si ocurre algún error en el proceso de reserva se confirma igualmente la reserva de hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq11">¿Qué hago si no recibo el e-mail de confirmación de reserva de hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq12">¿Cómo reservo un hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq13">¿Qué incluye el precio de una reserva de hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq14">¿Cómo realizo una reserva de hotel para otra persona?</a></li>
											<li><a class="custom-scroll-link" href="#faq15">¿Cómo encuentro un hotel en concreto?</a></li>
											<li><a class="custom-scroll-link" href="#faq16">¿Cómo puedo saber las instalaciones con las que cuenta el hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq17">¿Qué documentación debo presentar a mi entrada al hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq18">¿Qué pasa si cuando llego al hotel me indican que hay overbooking, es decir, que no hay habitaciones disponibles?</a></li>
											<li><a class="custom-scroll-link" href="#faq19">¿Puedo opinar sobre un hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq20">¿Qué hago si en el hotel contratado no hay constancia de mi reserva?</a></li>
											<li><a class="custom-scroll-link" href="#faq21">¿Cuál es la edad mínima para poder reservar un hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq22">Mi habitación, ¿será exacta a la fotografía que se me muestra en la descripción del hotel en la web?</a></li>
											<li><a class="custom-scroll-link" href="#faq23">¿Dónde puedo ver las opiniones de clientes sobre un hotel?</a></li>
											<li><a class="custom-scroll-link" href="#faq24">¿Estará disponible el aire acondicionado o la calefacción en el hotel?</a></li>
										</ul>
									</div>
									<div class="search-widget">
										<form action="#" class="fl-wrap">
											<input name="se" id="se" type="text" class="search" placeholder="Palabra Clave" value="">
											<button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq1">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Puedo cancelar o modificar una reserva de hotel? </h3>
							</div>
							<p>Sí, sí podés, pero tené en cuenta que dicha cancelación puede conllevar unos gastos administrativos al momento de hacerla. </p>
							<p>Para anular o modificar una reserva, se puede mandar un e-mail a través del apartado CONTACTO, y con gusto atenderemos tu solicitud. </p>

						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq2">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Qué gastos puede generar una cancelación o modificación de reserva?</h3>
							</div>
							<p>Al realizar la reserva, se informa de la política de cancelación, o bien ésta figura en las condiciones generales. Estos gastos de cancelación son variables según el hotel, la tarifa reservada y las fechas de antelación a la anulación.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq3">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Debo dar mi número de tarjeta de crédito para hacer una reserva en línea? ¿Es seguro?</h3>
							</div>
							<p>Sí, es necesaria una tarjeta de crédito o débito para todas las reservas realizadas a través de nuestro sitio web. Para protegerte contra el uso no autorizado de tu tarjeta de crédito, el proceso de reservas se maneja en un servidor seguro que cifra la información de la tarjeta de crédito. Todo esto para garantizarte los mejores procesos de seguridad.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq4">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Puedo realizar reservas para el mismo día?</h3>
							</div>
							<p>Sí, tan solo deberás realizar la búsqueda en la página web, realizar el pago total y te enviaremos el número de reserva con su factura y así cuando llegues al hotel tu habitación estará lista.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq5">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo puedo notificar al hotel que llegaré después de la hora de check in?</h3>
							</div>
							<p>Todas las reservas que se garantizan con tarjeta de crédito se mantienen en caso de llegadas tardías. Si sabés de antemano que vas a llegar tarde, deja un comentario en la sección de “Notas Adicionales” del formulario de reserva.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq6">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo sé si mi reserva de hotel se ha confirmado con éxito?</h3>
							</div>
							<p> Una vez finalizado el proceso de compra, se te otorga un número de reserva al igual que tu factura, también recibirás un e-mail con todos los detalles del estado de la reserva.</p>
							<p>Deberás revisar el correo electrónico que proporcionaste en las 24 horas siguientes al momento de la compra para comprobar que te ha llegado el e-mail de confirmación.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq7">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo puedo pagar una reserva de hotel?</h3>
							</div>
							<p>Al finalizar la reserva te mostraremos las diferentes formas de pago de la reserva. Podés pagar mediante tarjeta de crédito y débito. Contamos con los mejores certificados de seguridad para mantener todo tu información segura.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq8">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Tengo que añadir a los niños o bebés en la reserva?</h3>
							</div>
							<p>Sí, es necesario incluir a todos los pasajeros. Por pasajero se entiende toda aquella persona física que vaya a acudir al hotel reservado, indistintamente de que sea bebé, niño o adulto.</p>
							<p>El proveedor o el hotel tienen que tener una previsión de las personas y edades de los ocupantes, puesto que hay algunos tipos de habitación en las cuales no caben una cama extra o cuna.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq9">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cuáles son las condiciones generales en las reservas de hoteles?</h3>
							</div>
							<p> Las Condiciones Generales de Hoteles aparecen escritas en nuestra página web en el proceso de reserva.</p>
							<p>Deberás leerlas y aceptarlas para poder finalizar la compra. En caso de tener cualquier duda al respecto te rogamos nos consultés antes de confirmar tu reserva</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq10">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Si ocurre algún error en el proceso de reserva se confirma igualmente la reserva de hotel?</h3>
							</div>
							<p>Si al final del proceso de reserva te apareciera un mensaje de error debes ponerte en contacto con nosotros a través del apartado de CONTACTO para verificar el estado de la reserva.</p>
							<p>Puede que haya ocurrido un error en la transacción de pago con el banco, y la reserva se haya realizado como si no.</p>
							<p>Nuestros agentes intentarán confirmarte en línea la confirmación o no de la reserva, y en caso contrario deberás verificar con tu banco si ha habido algún movimiento monetario en la cuenta.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq11">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Qué hago si no recibo el e-mail de confirmación de reserva de hotel?</h3>
							</div>
							<p>Podría ser que el e-mail enviado por costaricacheckin.com estuviera en tu bandeja de correo no deseado.</p>
							<p>En cualquier caso, si se te ha confirmado tu reserva en pantalla y te hemos dado un número de reserva podés ponerte en contacto con nosotros a través del apartado CONTACTO para confirmar los datos de tu reserva.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq12">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo reservo un hotel?</h3>
							</div>
							<p>1. Buscar hotel y disponibilidad. Eligí el destino, las fechas en las que quieres viajar, el número de habitaciones, el número de personas en cada habitación incluyendo todos los niños.</p>
							<p>2. Te aparecerá una lista con todos los hoteles disponibles para las fechas seleccionadas con las correspondientes tarifas. Podés ordenar los hoteles por precio, categoría, puntuación del cliente o popularidad. También podés filtrar los resultados por hotel, nombre, categoría, etc.</p>
							<p>3. Ingresá tus datos. Una vez el hotel ha sido seleccionado, te ofrecemos un resumen de la reserva indicándote el costo total de la misma con la descripción y situación del hotel.</p>
							<p>4. Confirmá tu reserva. Te mostraremos el número de la reserva y también recibirás la confirmación de la reserva por e-mail.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq13">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Qué incluye el precio de una reserva de hotel?</h3>
							</div>
							<p>El precio incluye el alojamiento en el establecimiento para los pasajeros y según tipo de acomodación y régimen alimenticio que figura en la reserva, además de los impuestos IVA.</p>
							<p>Te recordamos que normalmente las bebidas no están incluidas en las comidas.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq14">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo realizo una reserva de hotel para otra persona?</h3>
							</div>
							<p>Al introducir los datos de la reserva, en el campo NOMBRE colocarás el nombre de la persona que se alojará en el hotel.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq15">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo encuentro un hotel en concreto?</h3>
							</div>
							<p>Realizá la búsqueda por destino, fecha y nº de habitaciones y personas, en la siguiente pantalla te aparecerán todos los hoteles disponibles.</p>
							<p>Para restringir el listado, podés filtrar por nombre del hotel, por precio, por categoría, por valoración de los clientes o por provincia.</p>
						</div>
						<!--   list-single-main-item end --><!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq16">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cómo puedo saber las instalaciones con las que cuenta el hotel?</h3>
							</div>
							<p>Durante el proceso de búsqueda y compra tendrás la posibilidad de informarte sobre la descripción del hotel, sus instalaciones, situación, características de las habitaciones, etc.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq17">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Qué documentación debo presentar a mi entrada al hotel?</h3>
							</div>
							<p>Cuando has realizado la reserva te enviamos una confirmación de la misma, con todos los servicios detallados.</p>
							<p>Al pagar el 100% de la reserva, te llegará la factura correspondiente que será el documento que deberás presentar a la entrada del hotel.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq18">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Qué pasa si cuando llego al hotel me indican que hay overbooking, es decir, que no hay habitaciones disponibles?</h3>
							</div>
							<p>En caso de que al llegar al hotel te indicaran que no hay habitaciones disponibles, el hotel mismo deberá darte una alternativa. Esto raramente ocurre pero puede pasar.</p>
							<p>Ante cualquier problema te recomendamos que nos contactés para que lo podamos solucionar lo antes posible.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq19">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Puedo opinar sobre un hotel?</h3>
							</div>
							<p>Por supuesto, recibirás un cuestionario tras haber realizado la estancia del hotel donde podrás opinar sobre sus servicios, limpieza, personal, etc, que podrás enviarnos para añadirlo a la descripción del hotel y así tener una visión más completa del establecimiento.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq20">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Qué hago si en el hotel contratado no hay constancia de mi reserva?</h3>
							</div>
							<p>Debes ponerte en contacto con nosotros a través del teléfono que te viene indicado de asistencia en viaje, junto al bono del hotel, para verificar el estado de tu reserva.</p>
							<p>Si confirmamos que tienes una reserva, haremos las gestiones oportunas con el proveedor para resolver la posible incidencia y te informaremos con la mayor brevedad posible.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq21">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Cuál es la edad mínima para poder reservar un hotel?</h3>
							</div>
							<p>Para reservar un hotel a través de nuestra página web, debe tener como mínimo 18 años de edad.</p>
							<p>El hotel puede negar la admisión de un grupo de personas que viajan juntas si no hay por lo  menos un adulto con 18 años cumplidos. En este caso costaricacheckin.com no acepta ningún tipo de responsabilidad.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq22">
							<div class="list-single-main-item-title fl-wrap">
								<h3>Mi habitación, ¿será exacta a la fotografía que se me muestra en la descripción del hotel en la web?</h3>
							</div>
							<p>Las fotos de las habitaciones de hotel que aparecen en la web solo son para dar una idea general. Debés de tener en cuenta que el tamaño, el estilo, mobiliario y servicios pueden variar.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq23">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Dónde puedo ver las opiniones de clientes sobre un hotel?</h3>
							</div>
							<p>Entrando en nuestra página web, verás en la pantalla de cada hotel los comentarios y valoraciones que otros huéspedes le han otorgado. En esta sección también podrás ver puntuación acerca de la limpieza, facilidades, comodidades, persona y servicios.</p>
						</div>
						<!--   list-single-main-item end -->
						<!--   list-single-main-item -->
						<div class="list-single-main-item fl-wrap" id="faq24">
							<div class="list-single-main-item-title fl-wrap">
								<h3>¿Estará disponible el aire acondicionado o la calefacción en el hotel?</h3>
							</div>
							<p>Tenemos descripciones de los servicios ofrecidos por cada hotel a las que puede acceder a través de nuestra página web. Esta información es cargada directamente por cada hotel.</p>
						</div>
						<!--   list-single-main-item end -->
			
					</div>
				</div>
			</div>
			<div class="limit-box"></div>
		</section>
		<!--  section  end-->
 
		<!--section -->
		<section>
			<div class="wave-bg NosotrosWhyUs"></div>
			<div class="container">

				<div class="section-title">
					<h2>¿Por que nosotros?</h2>
					<span class="section-separator"></span>
					<p>Trabajamos de la mano con los dueños de hoteles del país para brindarle los mejores servicios y beneficios.</p>
				</div>
				<div class="row rowWhyUs">
					<div class="col-md-4">
						<!-- process-item-->
						<div class="process-item big-pad-pr-item">
							<span class="process-count"> </span>
							<div class="time-line-icon"><i class="fal fa-headset"></i></div>
							<h4><a href="#">Servicio Al Cliente</a></h4>
							<p>No importa si acabás de reservar o si ya estás en el destino: nuestro equipo de asistencia está para ayudarte en cada paso.</p>
						</div>
						<!-- process-item end -->
					</div>
					<div class="col-md-4">
						<!-- process-item-->
						<div class="process-item big-pad-pr-item">
							<span class="process-count"> </span>
							<div class="time-line-icon"><i class="fal fa-gift"></i></div>
							<h4> <a href="#">Total Seguridad En Pagos</a></h4>
							<p>Todos los días procesamos cientos de transacciones a través de nuestra plataforma que trabaja con los mayores estándares de seguridad para garantizar tu privacidad.</p>
						</div>
						<!-- process-item end -->
					</div>
					<div class="col-md-4">
						<!-- process-item-->
						<div class="process-item big-pad-pr-item nodecpre">
							<span class="process-count"> </span>
							<div class="time-line-icon"><i class="fal fa-credit-card"></i></div>
							<h4><a href="#">Trabajamos Por Costa Rica</a></h4>
							<p>Nuestro compromiso es poder brindar todas las facilidades para que la mayor cantidad de personas puedan visitar los maravillosos destinos destruidos por todo nuestro país.</p>
						</div>
						<!-- process-item end -->
					</div>
				</div>
			</div>
		</section>
		<!-- section end -->

	</div>
	<!-- content end-->
</div>
<!--wrapper end -->