﻿<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="parallax-section single-par" data-scrollax-parent="true">
			<div class="bg par-elem " data-bg="/images/xImg/fotoheadernosotros.png" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="overlay"></div>
			<div class="container">
				<div class="section-title center-align big-title">
					<div class="section-title-separator"><span></span></div>
					<h2><span>Conocenos Un Poco Mejor</span></h2>
					<span class="section-separator"></span>
					<h4>Un equipo trabajando por un país.</h4>
				</div>
			</div>
			<div class="header-sec-link">
				<div class="container"><a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
			</div>
		</section>
		<!--  section  end-->
		<div class="breadcrumbs-fs fl-wrap">
			<div class="container">
				<div class="breadcrumbs fl-wrap"><a href="#">Inicio</a><a href="#">Paginas</a><span>Acerca de Nosotros</span></div>
			</div>
		</div>
		<section id="sec1" class="middle-padding">
			<div class="container">
				<!--about-wrap -->
				<div class="about-wrap">
					<div class="row">
						<div class="col-md-6">
							<div class="video-box fl-wrap">
								<img src="~/images/xImg/FotoNosotros.png" class="respimg" alt="">
								<a id="Modalvideo" class="video-box-btn image-popup" href="https://www.youtube.com/watch?v=psZc1x1TQNI"><i class="fa fa-play" aria-hidden="true"></i></a>
								<span class="video-box-title">Video de presentación</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="list-single-main-item-title fl-wrap">
								<h3>Orgullosamente Ticos</h3>
							</div>
							<p>
								Sobre nosotros : Somos una empresa que conecta a las personas con los mejores destinos y las mejores experiencias en Costa Rica.
								Trabajamos con pequeños y medianos empresarios que son los que conforman el 94% de la oferta turística de nuestro país.
								Ellos se levantan todos los días para ofrecer el mejor servicio y garantizar que todos se vayan con una gran sonrisa al
								estar en el país más feliz del mundo.
							</p>
							<p>
								En CostaRicacheckin.com nuestro objetivo es velar por el turismo local y mostrarle al mundo lo privilegiados que somos al nacer
								en un país que puede ser pequeño en extensión pero con grandes sorpresas en cada rincón.
							</p>

							<a href="javascript:;" class="btn  color-bg float-btn custom-scroll-link" id="btnConocerCR">Conocer Costa Rica <i class="fal fa-users"></i></a>
						</div>
					</div>
				</div>
				<!-- about-wrap end  -->
				<div class=" single-facts fl-wrap mar-top">
					<!-- inline-facts -->
					<div class="contadorHome inline-facts-wrap">
						<div class="inline-facts">
							<i class="fal fa-users"></i>
							<div class="milestone-counter">
								<div class="stats animaper">
									<div class="num" data-content="0" data-num="114">114</div>
								</div>
							</div>
							<h6>Reservaciones Diarias</h6>
						</div>
					</div>
					<!-- inline-facts end -->
					<!-- inline-facts  -->
					<div class="contadorHome inline-facts-wrap">
						<div class="inline-facts">
							<i class="fal fa-thumbs-up"></i>
							<div class="milestone-counter">
								<div class="stats animaper">
									<div class="num" data-content="0" data-num="3576">3576</div>
								</div>
							</div>
							<h6>Clientes Satisfechos</h6>
						</div>
					</div>
					<!-- inline-facts end -->
					<!-- inline-facts  -->
					<div class="contadorHome inline-facts-wrap">
						<div class="inline-facts">
							<i class="fal fa-award"></i>
							<div class="milestone-counter">
								<div class="stats animaper">
									<div class="num" data-content="0" data-num="7">7</div>
								</div>
							</div>
							<h6>Certificaciones</h6>
						</div>
					</div>
					<!-- inline-facts end -->
				</div>
			</div>
		</section>
		<!-- section end -->
		<!--section -->
		<section class="color-bg hidden-section">
			<div class="wave-bg wave-bg2"></div>
			<div class="container">
				<div class="section-title">
					<h2>¿Por Qué Nosotros?</h2>
					<span class="section-separator"></span>
					<p>Trabajamos de cerca todos los días con los hoteles de Costa Rica para poder brindarte los mejores destinos, servicios y beneficios.</p>
				</div>
				<!-- -->
				<div class="row rowWhyUs">
					<div class="col-md-4">
						<!-- process-item-->
						<div class="process-item big-pad-pr-item">
							<span class="process-count"> </span>
							<div class="time-line-icon"><i class="fal fa-headset"></i></div>
							<h4><a href="#">Servicio Al Cliente</a></h4>
							<p>No importa si acabás de reservar o si ya estás en el destino: nuestro equipo de asistencia está para ayudarte en cada paso.</p>
						</div>
						<!-- process-item end -->
					</div>
					<div class="col-md-4">
						<!-- process-item-->
						<div class="process-item big-pad-pr-item">
							<span class="process-count"> </span>
							<div class="time-line-icon"><i class="fal fa-gift"></i></div>
							<h4> <a href="#">Total Seguridad En Pagos</a></h4>
							<p>Todos los días procesamos cientos de transacciones a través de nuestra plataforma que trabaja con los mayores estándares de seguridad para garantizar tu privacidad.</p>
						</div>
						<!-- process-item end -->
					</div>
					<div class="col-md-4">
						<!-- process-item-->
						<div class="process-item big-pad-pr-item nodecpre">
							<span class="process-count"> </span>
							<div class="time-line-icon"><i class="fal fa-credit-card"></i></div>
							<h4><a href="#">Trabajamos Por Costa Rica</a></h4>
							<p>Nuestro compromiso es poder brindar todas las facilidades para que la mayor cantidad de personas puedan visitar los maravillosos destinos destruidos por todo nuestro país.</p>
						</div>
						<!-- process-item end -->
					</div>
				</div>
				<!--process-wrap   end-->
			</div>
		</section>
		<!-- section end -->

		<section class="parallax-section" data-scrollax-parent="true">
			<div class="bg par-elem " data-bg="/images/xImg/Foto2Nosotros.png" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="overlay"></div>
			<!--container-->
			<div class="container">
				<div class="intro-item fl-wrap">
					<h2>¿Necesitás más información?</h2>
					<h3>Contanos cómo te podemos ayudar y pronto te contaremos.</h3>
					<a class="btn  color-bg" href="/Nosotros/Contacto">Ponerse en Contacto <i class="fal fa-envelope"></i></a>
				</div>
			</div>
		</section>
		<section>
			<partial name="/Views/Shared/_ComentariosPersonas.cshtml">
		</section>
	</div>
	<!-- content end-->
</div>
<!--wrapper end -->

 

@section Scripts{
	<script>
		$("#btnConocerCR").click(function () {			
			$("#Modalvideo").click();
		});
		 
	</script>
}