﻿<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="color-bg middle-padding ">
			<div class="wave-bg wave-bg2"></div>
			<div class="container">
				<div class="flat-title-wrap">
					<h2><span>@ViewBag.blog.Titulo </span></h2>
					<span class="section-separator"></span>
					<h4>Loremzxx ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
				</div>
			</div>
		</section>
		<!--  section  end-->
		<div class="breadcrumbs-fs fl-wrap">
			<div class="container">
				<div class="breadcrumbs fl-wrap"><a href="#">Home</a><a href="#">Blog</a><span>Blog Single</span></div>
			</div>
		</div>
		<!-- section-->
		<section id="sec1" class="middle-padding grey-blue-bg">
			<div class="container">
				<div class="row">
					<!--blog content -->
					<div class="col-md-8">
						<!--post-container -->
						<div class="post-container fl-wrap">
							<!-- article> -->
							<article class="post-article articulosBlog">
								<div class="list-single-main-media fl-wrap">
									<div class="single-slider-wrapper fl-wrap">
										<div class="single-slider fl-wrap">
											<div class="slick-slide-item"><img src="@ViewBag.blog.ImageFullPath" alt=""></div>
										</div>
										<div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
										<div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
									</div>
								</div>
								<div class="list-single-main-item fl-wrap">
									<div class="list-single-main-item-title fl-wrap">
										<h3>@ViewBag.blog.Titulo</h3>
									</div>
									<div class="contenidoBlog">
										@Html.Raw(ViewBag.blog.Descripcion)
									</div>


									<div class="post-author"><a href="#"><img src="~/images/Banderas/costarica.png" alt=""><span>By , @ViewBag.blog.Usuario</span></a></div>
									<div class="post-opt">
										<ul>
											<li><i class="fal fa-calendar"></i> <span>@ViewBag.blog.Fecha.ToString("dd MMMM yyyy") </span></li>
											<li><i class="fal fa-eye"></i> <span>@ViewBag.blog.Vistas</span></li>
											<li><i class="fal fa-tags"></i> <a href="#">Fotografía</a> , <a href="#">Diseño</a> </li>
										</ul>
									</div>
									<span class="fw-separator"></span>
									<div class="list-single-main-item-title fl-wrap">
										<h3>Tags</h3>
									</div>
									<div class="list-single-tags tags-stylwrap blog-tags">
										@if (ViewBag.blog.ListTags != null && ViewBag.blog.ListTags.Count > 0)
										{
											foreach (var Tag in @ViewBag.blog.ListTags)
											{
												<a href="#">@Tag</a>
											}
										}
									</div>
									<span class="fw-separator"></span>
									<div class="post-nav fl-wrap">
										<a href="/Nosotros/InternaBlog/@ViewBag.BlogAnterior.idBlog" class="post-link prev-post-link"><i class="fal fa-angle-left"></i>Anterior <span class="clearfix">@ViewBag.BlogAnterior.Titulo</span></a>
										<a href="/Nosotros/InternaBlog/@ViewBag.BlogSiguiente.idBlog" class="post-link next-post-link"><i class="fal fa-angle-right"></i>Siguiente<span class="clearfix">@ViewBag.BlogSiguiente.Titulo</span></a>
									</div>
								</div>
								<!-- list-single-main-item -->								
									<div class="list-single-main-item fl-wrap" id="sec5">
										<div class="list-single-main-item-title fl-wrap">
											<h3>Comentarios -  <span id="spnContadorComentarios"> @ViewBag.totalComentariosInicial </span></h3>
										</div>
										<div class="reviews-comments-wrap">
											@if (ViewBag.bloggers != null && ViewBag.bloggers.Count > 0)
											{ 
												@foreach (var comentario in ViewBag.bloggers)
												{
													<div class="reviews-comments-item">
														<div class="review-comments-avatar">
															<img src="~/images/Banderas/costarica.png" alt="">
														</div>
														<div class="reviews-comments-item-text">
															<h4><a href="#">@comentario.Nombre</a></h4>
															<div class="clearfix"></div>
															<p>" @comentario.Comentario "</p>
															<div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>@comentario.Fecha.ToString("dd MMMM yyyy")</span><a href="#"><i class="fal fa-reply"></i> Responder</a></div>
														</div>
													</div>
												}
											}
										</div>
									</div>

								

								<!-- list-single-main-item end -->	
								<!-- list-single-main-item -->
								<div class="list-single-main-item fl-wrap" id="sec6">
									<div class="list-single-main-item-title fl-wrap">
										<h3>Agregar comentario</h3>
									</div>
									<!-- Add Review Box -->
									<div id="add-review" class="add-review-box">
										<!-- Review Comment -->
										<form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
											<fieldset>
												<div class="row">
													<div class="col-md-6">
														<label><i class="fal fa-user"></i></label>
														<input type="text" placeholder="Tu nombre *" value="" id="NombreComentario"  name="NombreComentario" required/>
													</div>
													<div class="col-md-6">
														<label><i class="fal fa-envelope"></i>  </label>
														<input type="email" placeholder="Correo Electronico*" value="" id="EmailComentario" name="EmailComentario"  required />
													</div>
												</div>
												<textarea cols="40" rows="3" placeholder="Comentario:" id="NotaComentario"  name="NotaComentario" required></textarea>
											</fieldset>
											<button class="btn  no-shdow-btn float-btn color2-bg " id="btnEnviarComentario"  style="margin-top:30px">Enviar Comentario<i class="fal fa-paper-plane"></i></button>
											
										</form>
									</div>
									<!-- Add Review Box / End -->
								</div>
								<!-- list-single-main-item end -->
							</article>
							<!-- article end -->
						</div>
						<!--post-container end -->
					</div>
					<!-- blog content end -->
					<!--   sidebar  -->
					<div class="col-md-4">
						<!--box-widget-wrap -->
						<div class="box-widget-wrap fl-wrap fixed-bar">
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3> Buscar en Blog </h3>
										</div>
										<div class="search-widget">
											<form action="#" class="fl-wrap">
												<input name="se" id="se" type="text" class="search" placeholder="Buscar.." value="Search..." />
												<button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget counter-widget" data-countDate="09/12/2019">
									<div class="banner-wdget fl-wrap">
										@*<div class="overlay"></div>*@
										<div class="bg" data-bg="/images/bannercc.png"></div>
										<div class="banner-wdget-content fl-wrap" style="opacity:0; user-select:none">
											<h4>Get a discount <span>20%</span> when ordering a room from three days.</h4>
											<div class="countdown fl-wrap">
												<div class="countdown-item">
													<span class="days rot">00</span>
													<p>days</p>
												</div>
												<div class="countdown-item">
													<span class="hours rot">00</span>
													<p>hours </p>
												</div>
												<div class="countdown-item">
													<span class="minutes rot">00</span>
													<p>minutes </p>
												</div>
												<div class="countdown-item">
													<span class="seconds rot">00</span>
													<p>seconds</p>
												</div>
											</div>
											<a href="#">Book Now</a>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget widget-posts">
									<div class="box-widget-content MasArticulos">
										<div class="box-widget-item-header">
											<h3>Más Articulos</h3>
										</div>
										@if (ViewBag.MasArticulos != null)
										{
											@foreach (var articuloSideBar in ViewBag.MasArticulos)
											{
												<!--box-image-widget-->
												<div class="box-image-widget">
													<div class="box-image-widget-media">
														<img src="@articuloSideBar.ImageFullPath" alt="">
														<a href="/Nosotros/InternaBlog/@(articuloSideBar.idBlog)" class="color-bg">Leer</a>
													</div>
													<div class="box-image-widget-details">
														<h4>@Html.Raw(articuloSideBar.Titulo) </h4>
														<p class="multi-line-truncate contenidoArticulo">@Html.Raw(articuloSideBar.Descripcion)</p>
														<span class="widget-posts-date"><i class="fal fa-calendar"></i>@articuloSideBar.Fecha.ToString("dd MMMM yyyy") </span>
													</div>
												</div>
												<!--box-image-widget end -->
											}
										}
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3>Nuestro Instagram</h3>
										</div>
										<div class="jr-insta-thumb">
											<ul>
												<li>
													<a href="#"><img src="~/images/ximgHome/7-1.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/7-3.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/7-4.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/7-3.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/7-1.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="~/images/ximgHome/7-4.jpg" alt=""></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
							<!--box-widget-item -->
							<div class="box-widget-item fl-wrap">
								<div class="box-widget">
									<div class="box-widget-content">
										<div class="box-widget-item-header">
											<h3> Categorías</h3>
										</div>
										<ul class="cat-item">
											<li><a href="#">Estandar</a> <span>3</span></li>
											<li><a href="#">Video</a> <span>6 </span></li>
											<li><a href="#">Galeria</a> <span>12 </span></li>
											<li><a href="#">Citas</a> <span>4</span></li>
										</ul>
									</div>
								</div>
							</div>
							<!--box-widget-item end -->
						</div>
						<!--box-widget-wrap end -->
					</div>
					<!--   sidebar end  -->
				</div>
			</div>
			<div class="limit-box fl-wrap"></div>
		</section>
		<!-- section end -->
	</div>
	<!-- content end-->
</div>
<!--wrapper end -->
<input type="hidden" id="idBlog" value="@ViewBag.IdBlog" />
<input type="hidden" id="totalComentariosInicial" value="@ViewBag.totalComentariosInicial" />



@section Scripts{

	
	<partial name="_ValidationScriptsPartial" />

	<script>

		TotalComentariosInicial = parseInt($("#totalComentariosInicial").val());

		$("#btnEnviarComentario").click(function (e) {
			

			console.log("asdf");

			if (!$('#add-comment').valid()) {
				$("#validacionInfP").val(false);
				Swal.fire({
					icon: 'warning',
					text: 'Debe completar el formulario',
					customClass: {
						confirmButton: 'BtnMirarOpciones',
					}
				});
				return false;
			}

			e.preventDefault();


			var dataEnviar = {
				idBlog: $("#idBlog").val(),
				Nombre: $("#NombreComentario").val(),
				Email: $("#EmailComentario").val(),
				Comentario: $("#NotaComentario").val()
			};

			console.log(dataEnviar);			
					

			$.ajax({
				//url: "/Reservacion/BusquedaHabitaciones?FechaInicio=" + FechaInicio + "&FechaFinal=" + FechaFinal + "&TotalHuespedes=" + TotalHuespedes + "&children=" + children,
				type: "POST",
				url: "/Nosotros/GuardarComentario",
				data: dataEnviar,
				success: function (data) {
					swal.close();
					console.log(data);

					if (data.IsSuccess == true) {
						AgregarComentario(data);
						limpiarFormulario();
						Swal.fire(
							'Costa Rica Chek In.! ',
							'Su comentario se guardo exitosamente',
							'success'
						);
					}
					else {
						Swal.fire(
							'No se pudo guardar el comentario! ',
							data.Mensaje,
							'warning'
						);
					}


				},
				beforeSend: function () {
					Swal.fire({
						allowOutsideClick: false,
						showConfirmButton: false,
						showClass: {
							popup: 'animated fadeIn faster'
						},
						customClass: {
							container: 'sweetLoadingcontent'
						},
						html: "<div class='animacionJson'><lottie-player src='/js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>" +
							"</lottie-player></div>"
					});
				},
				error: function () {
					swal.close();
					Swal.fire('¡Error!', 'Error', 'error');
				},
			}).done(function () {
				/*
				$.holdReady(true);
				$.getScript("/js/lib/slick/slick.js", function () {
					$.holdReady(false);
				}); */

			});
		});



		function AgregarComentario(data) {

			TotalComentariosInicial = TotalComentariosInicial + 1;

			
			var htmlComentario = "<div class='reviews-comments-item'>" +
				"	<div class='review-comments-avatar'>" +
				"		<img src='/images/Banderas/costarica.png' alt=''>" +
				"	</div>" +
				"	<div class='reviews-comments-item-text'>" +
				"		<h4><a href='#'>" + data.Resultado.Nombre +"</a></h4>" +
				"		<div class='clearfix'></div>" +
				"		<p>\"" + data.Resultado.Comentario + "\"</p>" +
				"		<div class='reviews-comments-item-date'><span><i class='far fa-calendar-check'></i>" + data.Resultado.FechaString +"</span><a href='#'><i class='fal fa-reply'></i> Responder</a></div>" +
				"	</div>" +
				"</div>"; 
			
			$(".reviews-comments-wrap").append(htmlComentario);
			$("#spnContadorComentarios").html(TotalComentariosInicial);
			console.log("xxx");
			   

		}


		function limpiarFormulario() {
			$('#add-comment')[0].reset();
		}


	</script>
}