﻿<!--  wrapper  -->
<div id="wrapper">
	<!-- content-->
	<div class="content">
		<!--  section  -->
		<section class="parallax-section single-par" data-scrollax-parent="true">
			<div class="bg par-elem " data-bg="/images/xImg/FotoFAQS.png" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="overlay"></div>
			<div class="container">
				<div class="section-title center-align big-title">
					<div class="section-title-separator"><span></span></div>
					<h2><span>Términos y condiciones</span></h2>
					<span class="section-separator"></span>
					<h4>Términos y condiciones</h4>
				</div>
			</div>
			<div class="header-sec-link">
				<div class="container"><a href="#sec1" class="custom-scroll-link color-bg btnDownFaq"><i class="fal fa-angle-double-down"></i></a></div>
			</div>
		</section>
		<!--  section  end-->
		
	 
		<!--section -->
		<section>			
			<div class="container">				
				<div class="list-single-main-item fl-wrap">
					<div class="list-single-main-item-title fl-wrap">
						<h3>Términos y condiciones</h3>
					</div>
					<div class="contentTerminoPoliticaPrivacidad">
						@Html.Raw(ViewBag?.TerminosyCondiciones)						
					</div>
				</div>
			</div>
		</section>
		<!-- section end -->

	</div>
	<!-- content end-->
</div>
<!--wrapper end -->