	<!--=============== css  ===============-->
<link type="text/css" rel="stylesheet" href="/css/reset.css">
<link type="text/css" rel="stylesheet" href="/css/plugins.css">
<link type="text/css" rel="stylesheet" href="/css/style.css">
<link type="text/css" rel="stylesheet" href="/css/styleV2.css">
<link type="text/css" rel="stylesheet" href="/css/color.css">
<link type="text/css" rel="stylesheet" href="/css/colorV2.css">
<!--=============== favicons ===============-->
<link rel="shortcut icon" href="images/favicon.ico">

<!--=============== scripts  ===============-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&libraries=places&callback=initAutocomplete"></script>
<script type="text/javascript" src="/js/map-single.js"></script>


<!--ajax-modal-wrap -->
<div class="ajax-modal-wrap fl-wrap">
    <div class="ajax-modal-close"><i class="fal fa-times"></i></div>
    <!--ajax-modal-item-->
    <div class="ajax-modal-item fl-wrap">
        <div class="ajax-modal-media fl-wrap">
            <img src="images/gal/1.jpg" alt="">
            <div class="ajax-modal-title">
                <div class="section-title-separator"><span></span></div>
                Deluxe Single Room
            </div>
            <div class="ajax-modal-photos-btn dynamic-gal" data-dynamicPath="[{'src': 'images/gal/slider/1.jpg'}, {'src': 'images/gal/slider/1.jpg'},{'src': 'images/gal/slider/1.jpg'}]">Photos (<span>3</span>)</div>
        </div>
        <div class="ajax-modal-list fl-wrap">
            <ul>
                <li>
                    <i class="fal fa-user-alt"></i>
                    <h5><span>2</span> Persons</h5>
                </li>
                <li>
                    <i class="fal fa-chalkboard"></i>
                    <h5><span>102</span> Ft²</h5>
                </li>
                <li>
                    <i class="fal fa-bath"></i>
                    <h5><span>2</span> Bathroom</h5>
                </li>
                <li>
                    <i class="fal fa-hand-holding-usd"></i>
                    <h5><span>310$</span> / Per Night</h5>
                </li>
            </ul>
        </div>
        <div class="ajax-modal-details fl-wrap">
            <!--ajax-modal-details-box-->
            <div class="ajax-modal-details-box">
                <h3>Details</h3>
                <p>test en ajax vista Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                <p> Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
            </div>
            <!--ajax-modal-details-box end-->
            <!--ajax-modal-details-box-->
            <div class="ajax-modal-details-box">
                <h3>Room Amenities</h3>
                <div class="listing-features fl-wrap">
                    <ul>
                        <li><i class="fal fa-wifi"></i> Free WiFi</li>
                        <li><i class="fas fa-glass-martini-alt"></i> Mini Bar</li>
                        <li><i class="fal fa-snowflake"></i>Air Conditioner</li>
                        <li><i class="fal fa-tv"></i><span>Tv Inside</li>
                        <li><i class="fal fa-concierge-bell"></i> Breakfast</li>
                        <li><i class="fal fa-paw"></i> Pet Friendly</li>
                    </ul>
                </div>
            </div>
            <!--ajax-modal-details-box end-->
            <a href="booking-single.html" class="btn float-btn color2-bg">Book Now<i class="fas fa-caret-right"></i></a>
        </div>
    </div>
    <!--ajax-modal-item-->
</div>
<!--ajax-modal-wrap end -->