﻿@charset "utf-8";
/*--
	Color styles
--*/
.show-lang i, .nav-holder nav li a i, .filter-tags input:checked:after, .cart-total strong, .custom-form .filter-tags input:checked:after, .main-register h3 span, .lost_password a:hover, .header-search-input-item.location a, .pac-icon:before, .footer-social li a, .cs-mumber, .show-search-button i, .show-сurrency-tooltip span i, .show-reg-form i, .header-user-name:before, .tabs-menu li.current a, .currency-tooltip li i, .currency-wrap .show-currency-tooltip i, .subfooter-lang-tooltip li a, .header-search-input-item.in-loc-dec:before, .col-list-search-input-item.location a, .col-list-search-input-item.in-loc-dec:before, .list-main-wrap-title h2 span, .grid-opt li span.act-grid-opt, .grid-opt li span.act-grid-opt:hover, .price-opt ul li a:hover, .geodir-category-content h3 a:hover, .geodir-category-opt .js-favorite i, .avatar-tooltip strong, .listing-title a, .nice-select .nice-select-search-box:before, .map-modal-container h3 a:hover, .category-fix-bg-title h4, .geodir-opt-tooltip strong, .facilities-list li i:hover, .to-top:hover, .section-title .breadcrumbs a:before, .list-single-header-contacts li i, .share-container .share-icon:hover:before, .breadcrumbs-hero-buttom .breadcrumbs a:before, .listing-features li i, .rooms-details-header h5 span, .inline-facts i, .ajax-modal-photos-btn span, .ajax-modal-list li i, .total-coast span, .custom-form .total-coast input, .bookdate-container-dayscounter i, .box-widget-list li i, .list-single-main-item-title:before, .box-widget-item-header:before, .fc-button i, .share-container .share-icon, .reviews-comments-item-date i, .custom-form .review-total span input, .flatWeatherPlugin ul.wiForecasts li, .box-widget-list li a:hover, .list-single-main-item-title h3 span, .claim-widget-link a, .mapnavigation a i, .list-single-hero-header .list-single-hero-price span, .breadcrumbs.inline-breadcrumbs a:before, .box-widget-content .widget-posts-descr .geodir-category-location a i, .box-widget-content .widget-posts-link i, .tfp-btn strong, .dashboard-message-text p a, .dasboard-menu li a.user-profile-act i, .dasboard-menu li a:hover i, .pass-input-wrap span, .radio input[type="radio"]:checked + span:before, .custom-form .radio span, .reply-mail a, .tfp-det p a, .chat-contacts-item .chat-contacts-item-text span, .reviews-comments-item-text h4 a.reviews-comments-item-link, .video-box-btn, .text-carousel .slick-center .text-carousel-item:after, .text-carousel .slick-center .text-carousel-item:before, .single-facts .inline-facts i, .team-social li a, .team-dec, .filter-tags label a, .breadcrumbs-fs .breadcrumbs span, .home-btn a, .cart_list li span, #progressbar li:before, .log-massage a, .cat-item li a, .post-link i, .card-post-content h3:before, .card-post-content h3 a:hover, .post-opt li a:hover, .wishlist-link, .box-widget-content .widget-posts-descr a:hover, .faq-nav li a.act-faq-link, .time-line-icon i, s .listing-counter span, .images-collage-title, .down-btn i, .qty-dropdown-content .quantity-item label i, .qty-dropdown-header:before, .main-search-input-item_small:before, .main-search-input-item.location a, .listing-counter strong, .weather-grid .flatWeatherPlugin .wiToday .wiIconGroup div.wi, .geodir-category-price span, .show-search-button:hover i, .hotel-card .geodir-category-location a i, .header-search-input-item.date-parent:before, .menusb a i, .menusb a.back:before, #footer-twiit a:hover, .dasboard-menu-btn i, .header-user-menu li a:hover, .dashboard-listing-table-text h4 a, .mlc i, .show-more-filters i {
	color: #1B535C;
}
.map-popup-location-price {
	color: #F4F2BB;
}

/* Verde bajito */
.accordion a.toggle.act-accordion {
	background-color: #73E8C6;
	color: #1B535C;
}


.color-bg, .close-header-search:hover, #footer-twiit p.tweet:before, .cs-mumber-button:hover, .tabs-menu li a, .review-range-container .irs-bar, .review-range-container .irs-bar-edge, .search-input-item .irs-line, .col-list-search-input-item .irs-line, .pagination a.current-page, .pagination a.current-page:hover, .mapnavigation a:hover, .back-to-filters span, .infoBox-close, .slick-dots li.slick-active button, .map-modal-close, .geodir-opt-link a, .cluster div:hover, .to-top, .daterangepicker td.active, .list-single-hero-title h2:before, .user-stats:before, .ed-btn:hover, .dashboard-header, .massage-date span:before, .chat-contacts-item:after,
.lisd-link:hover, .scroll-nav-wrapper .scroll-nav li a.act-scrlink, .accordion a.toggle span, .list-widget-social li a, .box-item a.gal-link, .message-input button, .message-counter, .line-separator:before, .intro-item h2:before, .section-separator:before, #progressbar li:before, .price-num.col-dec-1:before, .tags-stylwrap.sb-tags a, .geodir-opt-list a:hover, .main-search-button:hover, .twitter-link, .recomm-price i, .lg-actions .lg-next, .lg-actions .lg-prev {
	background: #1B535C;
}
.pin , .nice-select:after ,  .ajax-loader  , .ed-btn     , blockquote  {
	border-color:#1B535C;
} 
/*--
	orange
--*/ 
.nav-holder nav li a.act-link , .nav-holder nav li a:hover  , .main-register h3 span strong , .header-search-input-item-icon , .subfooter-show-lang i   , #footer-twiit  .timePosted a:before  , .footer-contacts li i , .fc-cont:hover , .custom-form label span , .section-title-separator span i:nth-child(2) , .five-star-rating .listing-rating   i , .four-star-rating .listing-rating   i , .three-star-rating .listing-rating   i , .grid-opt li span:hover , .price-opt ul li  a i ,  .geodir-category-opt .listing-rating i , .geodir-category-opt  .js-favorite:hover i  , .geodir-category-location a  i  , .map-card-rainting i , .map-popup-location-info i , .daterangepicker .calendar-table th , .listing-rating i   , .rooms-details-header h5   , .custom-form label i , .nice-select:before , .amenities-list li span.status.status-no , .flatWeatherPlugin ul.wiForecasts li.wi  ,   .widget-posts-date i , .claim-widget-link a:hover , .mapzoom-in    , .dashboard-list-box.activities  .dashboard-message-text i , .fuzone .fu-text i , .dashboard-message-text h4 span , .tfp-btn:before  , .process-wrap li i ,   .singleMap_visible-title-item h4 i  , .flat-title-wrap .breadcrumbs a:before , .breadcrumbs-fs .breadcrumbs a:before , .log-massage a:hover  , .post-opt li i , .cat-item  li  span , .post-link , .faq-nav li a.act-faq-link:before  , .faq-nav li a:hover:before  , .process-item h4 a:hover , .intro-item h6  , .collage-image-input i , .inpt_dec , .qty-dropdown-header i ,  .geodir-category-opt h4 a:hover , .map-modal-container h3 i , .header-user-name:hover , .show-reg-form:hover  , .home-btn:hover a , .menusb  a.act-link	, .dashboard-listing-table-text h4 a:hover , .dashboard-listing-table-address i , .map-close, .text-carousel-item a.testim-link:hover {
	color:#F4F2BB;
}
.color2-bg  ,   .header-search-button , .pac-item:hover , .close-header-search , .footer-widget #subscribe-button:hover  ,  .cs-mumber-button , .irs-slider   , .pagination  a:hover , .cluster div  , .infoBox-close:hover  , .show-more-filters.active-hidden-opt-btn  , .load-more-button:hover , .daterangepicker .drp-buttons .btn.btn-default  , .header-sec-link  a:hover , .scroll-nav-wrapper .show-hidden-map  , .ajax-loader-cirle:before , .dashboard-list-box.activities .new-dashboard-item:hover , .dasboard-menu li a span , .dasboard-menu li ul li span  , .text-carousel-wrap .sw-btn , .price-link:hover , .price-num.col-dec-3:before , section.color-bg .section-separator:before  , .add-hotel:hover , .success-table-header a:hover , .dashboard-listing-table-opt li  a.del-btn  {
	background:#F4F2BB;
}
/*--
	dark-blue
--*/

	.banner-wdget-content a, .box-image-widget-media a:hover, .rooms-media-btn-item, .sw-btn, .bt n:hover, .more-photos-button, .box-item a.gal-link:hover, .dasboard-sidebar-content, .tfp-det-btn:hover, .color3-bg, .team-social, .text-carousel-wrap .sw-btn:hover, .home-intro-card-counter, .mlc, .geodir-opt-tooltip, .custom-form .log-submit-btn, .lg-actions .lg-next:hover, .lg-actions .lg-prev:hover, .error-wrap form .search-submit:hover, .close-reg:hover, .custom-form .log-submit-btn:hover, .soc-log a:hover {
		background: #F4F2BB;
	} 
.mapzoom-out , .single-facts .inline-facts .num , .section-title h2 ,.singleMap_visible-title-item h4  , .card-post-content h3 a , .map-modal-container h3 a , .error_message  h3  , #success_page h3 , .text-carousel-item a.testim-link {
	color:#1B535C;
}
/*--
	gradient
--*/
.gradient-bg {
  background-color: #1B535C;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1B535C), to(#49CEFF));
  background: -webkit-linear-gradient(top, #1B535C, #49CEFF);
  background: -moz-linear-gradient(top, #1B535C, #49CEFF);
  background: -ms-linear-gradient(top, #1B535C, #49CEFF);
  background: -o-linear-gradient(top, #1B535C, #49CEFF);
}


/* header color*/
.main-menu .act-link {
	color: #1B535C !important;
}
/* header color*/

.to-top {
	background: #73E8C6;
}


.subscribe-wrap {
	background: #5CA4A9;
}

.footer-inner {
	background: #1B535C;
}

.contact-btn, .cs-mumber-button, .twitter-link, .btn-factura {
	background: #F4F2BB;
	color: #1B535C;
}


.cs-mumber {
	color: #73E8C6
}

#progressbar li:before {
	background: #73E8C6;
}


.cart_list li span {
	color: #5CA4A9;
}

.list-widget-social li a {
	background: #73E8C6;
}

.faq-nav li a.act-faq-link, .header-search-button {
	color: #1B535C;
}

.filter-tags label a {
	color: #5CA4A9;
}

.pagination a.current-page {
	background: #73E8C6;
}

.cat-item li a {
	color: #878CA0;
}

.banner-wdget-content a {
	color: #1B535C;
}

.list-single-header-contacts li i {
	color: #73E8C6;
}

.listing-features li i {
	color: #5CA4A9;
}

.more-photos-button {
	background: #5CA4A9;
}

.rate-item-line {
	background: #73E8C6;
}

.btn-filtro {
	background-color: #1B535C;
	color: white;
}

.text-carousel .slick-center .text-carousel-item:after, .text-carousel .slick-center .text-carousel-item:before {
	color: #73E8C6;
}

.listing-counter strong{
	color:white;
}

.cs-mumber-button:hover {
	background-color: #73E8C6;	
}

.btnNewsLetter {
	color: #1B535C;
	background-color: #F4F2BA;
}

	.btnNewsLetter i {
		color: #1B535C;
	}

.main-search-button:hover {
	color: #F4F2BB;
}

	.main-search-button:hover .fal {
		color: #F4F2BB;
	}

.footer-contacts li a:hover {
	color: #fff;
}

.MasArticulos .box-image-widget-media a:hover {
	color: #1B535C;	
}

.geodir-category-content h3 {
	color: #1B535C;
}

.cursorHand {
	cursor: pointer;
}